[2015-03-11 16:35] abonas opened #35 "757: unexpected token at '404: Page Not Found' happens when having a 404 error"
757: unexpected token at '404: Page Not Found' happens when having a 404 error  happens when attempted to do Json.parse in
raise KubeException.new(e.http_code, JSON.parse(e.response)['message'])
That happens since 404 exceptions message is of type text and not json.

[2015-03-15 17:38] abonas opened #36 "POST on v1beta3 must include namespace in the url"
Based on the following change of behavior on v1beta3:
https://github.com/GoogleCloudPlatform/kubernetes/issues/4940

POST requests (and probably PUT) must specify the namespace as part of the url.

[2015-03-15 19:20] abonas commented on #35
This is caused by https://github.com/GoogleCloudPlatform/kubernetes/issues/5491

[2015-03-16 15:03] abonas commented on #35
cc @Fryguy

[2015-03-16 15:08] abonas opened #38 "Add defaults when kubeclient is initialized"
Based on:
https://github.com/ManageIQ/manageiq/pull/2156#issuecomment-81717931

Add defaults if they weren't passed from client:
1. /api suffix
2. apiversion

[2015-03-16 15:26] Fryguy commented on #35
I think it's ok to blow up with a JSON parse error on 404.  Alternately, you could catch that error in the handling_kube_exception method, and then translate it to a `RestClient::ResourceNotFound` error if you see  "404: Page Not Found" in the page text (or maybe RestClient has a `.http_code == 404` which you could check)

[2015-03-16 16:24] abonas commented on #35
the problem is that Json.parse fails, and it's hard to predict on which exception it will fail since it wasn't jsonized. For now I am aware of 404 and 500 but there might be more that we'll have to keep track of, to differentiate them from a real non valid json response that might be returned.

[2015-03-16 16:36] abonas opened #40 "Add a "connection check" method on api root"
Need to add a connection validation call on the root of the api
Based on https://github.com/ManageIQ/manageiq/pull/2156#issuecomment-81778779

[2015-03-18 19:32] #35 closed

[2015-03-18 20:12] abonas opened #44 "Labels need to be renamed to label-selector"
Due to change in k8s REST api
https://github.com/GoogleCloudPlatform/kubernetes/issues/2131#issuecomment-83145137

fyi @kazegusuri

[2015-03-22 13:45] #44 closed

[2015-03-24 09:43] #38 closed

[2015-03-25 12:04] abonas opened #51 "GET a single entity must include namespace in the url"
This doesn't work:
http://localhost:8080/api/v1beta3/services/kubernetes

This works:
http://localhost:8080/api/v1beta3/namespaces/default/services/kubernetes

The above is NOT relevant for nodes that are continued to be retrieved without namespace in the url.

[2015-03-25 22:47] #40 closed

[2015-04-06 11:19] abonas opened #61 "DELETE on v1beta3 must include namespace in the url"

[2015-04-10 05:17] abonas commented on #61
not relevant for nodes, namespaces

[2015-04-10 05:17] abonas commented on #51
not relevant for nodes, namespaces

[2015-04-10 05:17] abonas commented on #36
not relevant for nodes, namespaces

[2015-04-13 21:57] #36 closed

[2015-04-24 21:45] stephenjlevy commented on #51
Any estimate for when this might be implemented?  Only the default namespace can be used with the v1beta3 api right now because of this.  I can potentially work on it if needed.

[2015-04-26 11:41] abonas commented on #51
@stephenjlevy there's no day like today to add this :)

[2015-04-27 18:08] stephenjlevy commented on #51
Awesome! I still think it's missing namespace support for get_entities though.

[2015-04-27 20:03] abonas commented on #51
@stephenjlevy
Yes, this particular issue is for a single GET.
get_entities should be handled separately.
imo get_entities is lower priority, because doing a GET without namespaces on get_entities works, while on a single GET it doesn't.
BTW, if you could elaborate on your use cases with kubeclient?
it will be interesting to learn how the gem is used.

[2015-04-27 20:53] stephenjlevy commented on #51
@abonas Working on an automated deployment layer for kubernetes and other cluster managers, so need the ability to manage the lifecycle of all entities in a kubernetes cluster.

[2015-04-28 08:15] #51 closed

[2015-04-28 10:58] abonas commented on #51
great, thanks. is it open source?

[2015-04-28 14:46] stephenjlevy commented on #51
It's for in-house use at the moment, although we may be able to open source part of it.

[2015-05-05 07:52] #61 closed

[2015-05-11 13:54] jimmidyson opened #77 "Wrong options for watch & SSL"
From the docs on `net::http.start` (http://apidock.com/ruby/v1_9_3_392/Net/HTTP/start/class#docs_body):

    opt sets following values by its accessor. The keys are ca_file, ca_path, cert, cert_store, ciphers, close_on_empty_response, key, open_timeout, read_timeout, ssl_timeout, ssl_version, use_ssl, verify_callback, verify_depth and verify_mode.

Currently options set for cert & key are wrong (h

[2015-05-11 15:11] jimmidyson opened #79 "Support bearer tokens for authentication ready for service accounts"
See https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/design/service_accounts.md for more details.

[2015-05-11 19:20] stephenjlevy opened #81 "Endpoints entity_type is not plural"
When creating an endpoint, Kubernetes requires the "kind" to be set to "Endpoints" instead of "Endpoint".  Changing "Endpoint" to "Endpoints" in the ENTITY_TYPES definition will not fix this problem because then a conflict arises when the pluralized version of the "get_endpoints" method is created.

[2015-05-11 19:37] stephenjlevy commented on #81
The easiest (albeit ugly) fix for this problem would be to have a special case for "endpoint" in the create_entity method that sets the kind to "Endpoints".

[2015-05-12 07:25] abonas commented on #81
@stephenjlevy,
1. Have you opened an issue/discussion in k8s repo on this inconsistency? it's better to get this fixed on server side instead of each client's custom handling. cc @thockin

2. What is your use case to manually create endpoints rather than use a selector and get them calculated and updated by the server?
Is this something like the below example, or different?
https://github.com/Goog

[2015-05-12 07:41] #77 closed

[2015-05-12 15:12] stephenjlevy commented on #81
@abonas Yes, we need the ability to create external services (services without selectors).  Unfortunately, there's no way to declare the endpoints from within the service definition, so they must be declared manually.

I haven't opened an issue with the k8s developers about this...it's really a matter of semantics.  When creating an endpoint entity type, you really do have the ability to create mu

[2015-05-12 15:22] thockin commented on #81
Yes, Endpoints objects are a set of individual IP endpoints.  It's perhaps
an unfortunate name in the hidden double-pluralness - technically the REST
path should be "endpointses" I guess, but I don't think we're going to do
that.

I'd MAYBE be open to a better name, but that is a post-1.0 change, at
earliest.

As for defining endpoints for external services, we toyed with embedding an
Endpoints in

[2015-05-12 15:23] abonas commented on #81
@thockin we kind of worked in parallel :)
https://github.com/GoogleCloudPlatform/kubernetes/issues/8115

[2015-05-13 13:57] #79 closed

[2015-05-18 14:46] oschreib opened #84 "Using Bearer token impacts any RestClient instance"
As bearer token is using RestClient.add_before_execution_proc to inject the "authorization" HTTP header, it can affect any other RestClient instance created.
For instance, having two separate KubeClient instances, with separate bearer token inside each one, will result in a conflict, as the last bearer token will be injected to both of the objects.

p.s  - we might want to get https://github.com/r

[2015-05-18 14:46] oschreib commented on #84
cc @simon3z  @abonas

[2015-05-18 14:49] jimmidyson commented on #84
Alternatively switch to something like HTTParty as a client which seems much nicer for using with multiple client instances?

[2015-05-18 14:52] oschreib opened #85 "Can't update SSL and HTTP basic auth config after rest_client created"
Consider the following code:
[code]
The last call to client.get_pods will fail, as the RestClient.Resource object in common.rb:rest_client function has already been created.
In general, once the rest_client has been created, there's no way to update it's properties.

[2015-05-18 15:05] simon3z commented on #85
I think that we should follow what other clients are doing: separate the unmodifiable arguments and have them passed in the Kubeclient constructor.

This is the pattern used by Net::HTTP, restclient and many other.

This means that the ssl and auth parameters should be passed on construction.

The other option is to reconsider the change made in #50 where we cache a single rest_client object.

/cc

[2015-05-18 15:12] jimmidyson commented on #85
@simon3z Agree on passing args to constructor - makes much more sense.

[2015-05-19 07:28] abonas commented on #85
@simon3z :+1:  for passing the args to constructor

[2015-06-04 07:48] jimmidyson opened #90 "Use service account token if available"
Service account tokens are mounted at a known location (`/var/run/secrets/kubernetes.io/servicaccount/token`). If no auth method is provided & this file exists then we should use the content of this file as the bearer token.

[2015-06-04 07:49] jimmidyson opened #91 "Move ssl_options & auth options into constructor"

[2015-06-04 09:58] jimmidyson opened #93 "Drop API versions v1beta1/2 & add v1"
Only v1beta3 & v1 are supported now.

[2015-06-04 10:00] jimmidyson commented on #90
I have a fix for this in my fork but needs #92 merging first.

[2015-06-04 15:47] abonas commented on #93
@jimmidyson , can you please reference here the relevant k8s commit that adds V1 and drops the others? thanks

[2015-06-04 16:12] jimmidyson commented on #93
The relevant PR is https://github.com/GoogleCloudPlatform/kubernetes/pull/8917.

[2015-06-04 19:07] #84 closed

[2015-06-17 21:40] #93 closed

[2015-06-19 07:12] #91 closed

[2015-06-30 11:01] #90 closed

[2015-07-13 19:01] maratoid opened #99 "gem release with changes from commit #91 ?"
Any chance you could cut a release with changes from #91? As it is right now, none of the auth and ssl option passing described in the README works in the latest release.

Thanks!

[2015-07-13 19:25] abonas commented on #99
@maratoid, sure, can you please provide some more details - which options are you trying to use and how / which error do you get? thanks!

[2015-07-13 19:52] abonas commented on #91
@jimmidyson, please make sure the readme is aligned with this change, I'd like to release a new gem ver. with latest commits. thanks!

[2015-07-13 19:58] jimmidyson commented on #91
@abonas I think it is aligned with this change, isn't it?

[2015-07-13 19:59] jimmidyson commented on #99
@maratoid You're right - the README is for the current master & so options detailed there won't work until the next release.

[2015-07-14 09:11] abonas commented on #91
I'm not saying it's not :) , I just wanted to make sure it fully updated before releasing a new version, as once a gem is released, if it's unusable, it's hard to get rid of it (you need to yank it on rubygems, but can't reupload it unless you bump version again)

[2015-07-14 13:05] abonas commented on #99
@maratoid, @jimmidyson new gem 0.2.0 was now released.

[2015-07-14 13:05] #99 closed

[2015-07-14 21:34] maratoid commented on #99
Thanks!

[2015-07-15 12:53] abonas opened #101 "Move kubeclient default version to kubernetes v1"
the change should also handle the tests

[2015-07-16 16:24] iterion opened #103 "Support Scaling ReplicationControllers"
It would be nice to have an easy way to scale ReplicationControllers. The API I was considering would be something along the lines of:

Option 1:
[code]

Option 2:
[code]

Or perhaps support both? I think they both have cases where each is more ergonomic to use than the other. I'm working on a project that will need support for this so I'm happy to implement, but was just looking for opinions on w

[2015-07-16 16:38] abonas commented on #103
cc @simon3z
@iterion
There is currently an api that should provide you with this functionality via the generic update_entityType methods. (update_pod, update_service, etc) It is not very tested at the moment since so far the gem was more focused on the "GET" part and less on create and updates.
So, you can fetch a replication controller, fill the new number of replicas in the right field, and call

[2015-07-16 16:46] iterion commented on #103
Thanks, I'll try that out, it'll be useful in the interim.

I think scaling of replicas is something that users might do fairly often, so it'd be useful to have a method to do just that. But, I suppose it's up for discussion if that should be part of this gem or part of a gem that utilizes this one. A specific utility for scaling replicas is part of the Kubernetes CLI, so it might be good to mirro

[2015-07-16 17:16] iterion commented on #103
Ok, I tried what you suggested but ran into some issues:
My method for scaling:
[code]

I'm guessing it has to do with the difference between PUT and PATCH in the API, I'll do some more investigation.

[2015-07-16 17:57] iterion commented on #103
Nvm, above issue was due to bug that has already been patched by #97. Scaling as @abonas outlined works correctly!

[2015-07-16 17:58] abonas commented on #103
I'm currently not in favor of adding custom methods per entity, it's hard to maintain and the goal here is not to mimic the cli, but to allow the work with REST api which is by itself pretty standard and has no custom actions/methods for those things in the server.
Having said that, nothing is carved in stone, and it can be re-evaluated in the future.

[2015-07-16 18:00] abonas commented on #103
Glad to hear! If you want/can add tests for that, you're more than welcome, the gem currently lacks tests for update, and since they also serve as examples for other users, it has a broader impact.

[2015-07-16 18:00] abonas commented on #103
@iterion I'm closing the issue, feel free to reopen if needed.

[2015-07-16 18:00] #103 closed

[2015-07-16 19:04] iterion commented on #103
No problem, I totally understand your position and appreciate that this gem even exists! Users might want some utilities around the API, but, I dunno what those are yet and they could be very use case specific (which only strengthens your argument). I'll try to open source any solutions I come up with if they're generic enough.

I do wonder if we could make this gem pluggable in some way? It would

[2015-07-16 19:12] abonas commented on #103
Please have a look at openshift_client gem - it reuses most of kubeclient's code - maybe it can give you some ideas.
https://github.com/abonas/openshift_client
Also, Ruby is flexible and dynamic, so there should be no restrictions on dynamically adding additional methods defined on top of the existing ones, I'd just currently prefer to not keep such things as part of kubeclient itself.

[2015-08-12 10:26] simon3z commented on #91
@jimmidyson @abonas thanks for this fix (cc @oschreib ), we actually require this ASAP (let's wait for Mooli's changes and then let's build a new gem)

[2015-08-12 10:43] abonas commented on #91
@simon3z , this was released as part of 0.2.0 so to use it, either 0.2.0 or 0.3.0 can be taken.
I am probably missing something in your comment above :)
https://github.com/abonas/kubeclient/compare/v0.1.17...v0.2.0

[2015-08-12 11:24] simon3z commented on #91
@abonas apparently this commit also carries a fix (that shouldn't have been part of the patch):

https://github.com/abonas/kubeclient/commit/5cf2c3abdff01b63a52b6a817beb17fe9fe1d79e#diff-78cbcd17c7ae3f02081ec1ce253bb73bR43

cc @jimmidyson

Now we find ourselves in a situation where we can't bump from `v0.1.17` (and fix the `to_s` part in ManageIQ) without carrying in also all the `ssl_options` cha

[2015-08-12 11:27] simon3z commented on #91
@abonas so what I meant is to wait for @moolitayer's patch and build right away because we're not only introducing quota and limits but also fixing an important issue. (This is the effect of not having a stable branch, which anyway is too early to have).

[2015-08-12 11:28] jimmidyson commented on #91
@simon3z Moving to `ssl_options` should be a case of just moving the previous `ssl_options` into your `.new` call?

[2015-08-12 11:29] simon3z commented on #91
@jimmidyson yes I wanted to fix the `to_s` part without having to move to the new API. It will be easier in the future when we'll have a stable branch.

[2015-08-12 11:30] simon3z commented on #91
@jimmidyson only problem here was the lack of awareness of an important issue that should be filed/resolved separately.

[2015-08-12 11:53] jimmidyson commented on #91
@simon3z I'd personally just be happy that the fix is there :)

[2015-08-23 16:11] abonas opened #112 "Add changelog automatic generation"

[2015-08-27 16:25] moolitayer opened #117 "proxy url: add support for services with only one port."
When services have only one servicePort it's name may be omitted. If it's name is omitted it must be omitted from it's proxy url as well.

add option to support calling client.proxy_url with out a service port name.

[2015-08-27 16:26] moolitayer commented on #117
This is opened following https://github.com/abonas/kubeclient/pull/116#issuecomment-135472512

[2015-09-02 06:09] abonas commented on #112
based on this https://github.com/skywinder/Github-Changelog-Generator

[2015-09-02 08:40] simon3z commented on #112
I feel that it should be integrated with rake and we should document/automate the release procedure (so that we won't forget about generating it).

[2015-09-02 08:43] abonas commented on #112
I agree with you it should be integrated with rake. the only issue here which I don't have a good solution for at the moment, is that like version.rb, it is modified and commited locally, so if it's generated when doing 'rake build' or 'rake release' - it's too late.

[2015-09-04 11:19] dasch opened #119 "Allow reading the log of a pod"
There's an endpoint for it: http://kubernetes.io/v1.0/docs/api-reference/operations.html#_read_log_of_the_specified_pod

I can't figure out how to use kubeclient to do it, though.

[2015-09-06 14:37] abonas commented on #119
Hi @dasch , thanks for bringing this up. Kubeclient doesn't support this feature yet. Contributions are welcome :)
cc @simon3z

[2015-09-07 21:33] simon3z commented on #119
The kubernetes side is lacking of a couple features that I'd need to make the log collection really usable for my use-case. Which means that for me at this time the kubeclient side is not interesting yet. But obviously if there's a contribution we'll gladly accept it.

[2015-09-07 21:36] jimmidyson commented on #119
@simon3z Out of interest, what log functionality do you think is lacking in Kubernetes? There's an open issue (kubernetes/kubernetes#12447) to collect some ideas to make log endpoint more useful - good to hear your thoughts there if you have ideas.

[2015-09-08 23:25] jonmoter commented on #119
@abonas, I was looking at the code to implement this functionality.  The way that `Kubeclient::Client` is implemented, it seems pretty straightforward to have CRUD-like functionality for the main objects, like Services, Pods, Events, etc.

But log retrieval uses an endpoint of the form `GET /api/v1/namespaces/{namespace}/pods/{name}/log`, which is an endpoint that is specific to the Pod object.  I

[2015-09-09 05:08] abonas commented on #119
@jonmoter Hi, I didn't think yet how to implement it, and I'd like to hear first @simon3z which log functionality he is looking for in k8s.
Generally speaking, the client doesn't have to mimic the way the server api is structured. And the objects themselves that are constructed on client side (pod, etc.) have only data, not logic such as going to server again - I think it's better to keep them cle

[2015-09-18 04:45] #101 closed

[2015-09-18 15:07] jonmoter commented on #119
@abonas PR #121 is my first pass at implementing functionality to get (or watch) logs from a pod. The Kubernetes API doesn't expose any more functionality than what I've implemented.  So that's all we can do for now.

[2015-09-18 23:36] jonmoter opened #122 "Parse Kubernetes config file to create clients"
When you run the Kubernetes installer on Vagrant, it creates a YAML file for you in your home directory called `~/.kube/config`, that contains the same information if you ran `kube config view`.  For example:

[code]

For a project I'm working on, I wrote up a class that parses that config file and can construct a `Kubeclient::Client` based on that information.  For example:

[code]

Would you lik

[2015-09-20 14:25] abonas commented on #122
@jonmoter, my preference at this point is not to contain such configuration and parsing as part of the client.
There are several different ways to configure kubernetes, and by adding them here,  they will need maintenance and support as part of the client, and I would like at this point to avoid it.

[2015-09-20 15:52] jonmoter commented on #122
Okay, fair enough.

[2015-09-20 15:52] #122 closed

[2015-09-21 20:35] jonmoter opened #123 "Allow watching events with a labelSelector"
I want to be able to subscribe to watch events for pods that match a label selector, which is supported by the Kubernetes API, but not the client gem.

e.g. you can make a call to `/api/v1/watch/pods?labelSelector=foo%3Dbar` to get events for all pods that match the selector "foo=bar".

I'd like to add an `options` hash to `#watch_entities`, allowing you to pass in optional values for the labelSel

[2015-09-22 12:38] abonas commented on #123
@jonmoter thanks for the idea, need to see how much work it is to add it since this was not on the near future roadmap.
cc @simon3z

[2015-09-22 14:04] jonmoter commented on #123
I have some code working locally, so I could open up a PR for review.

[2015-09-22 15:07] abonas commented on #123
Contributions are welcome.
please note that me and the other maintainer of the client are very partially available during the next 2 weeks, so some response/review delays are expected.

[2015-10-07 22:37] garethr opened #128 "Problem using create_*"
While trying to `create_service` or `create_pod` I've run into issues. This could very well be user error but I want to check before I dig in further.

I'm running kubernetes 1.0.6.

[code]

I'm running a (modified, to get it running) version of the example from the README:

[code]

This results in the following exception:

[code]

Note the double space after namespace, which I presume means names

[2015-10-07 23:13] garethr commented on #128
I got this working. For reference.

[code]

[code]

[2015-10-10 09:32] abonas commented on #128
@garethr thanks for the report! indeed the readme needs an update.

[2015-10-11 15:33] #128 closed

[2015-10-20 07:40] #123 closed

[2015-10-25 11:36] #119 closed

[2015-10-30 14:08] msufa opened #139 "Watcher crashes when WatchStream#finish called during event processing"
### Use case:
- set up a pod watcher (Kubeclient::Client#watch_pods)
- in the block passed to WatchStream#each, based on some condition (e.g. N/N pods ready), decide to stop watching pods
- call WatchStream#finish

### Result:
The client crashes with:
[code]

My best guess is that after calling WatchStream#finish the socket is set to nil, but the watcher is still trying to read in event data.

A s

[2015-11-01 09:19] abonas commented on #139
@msufa thanks for the report, @simon3z please review / comment

[2015-11-02 22:25] simon3z commented on #139
@msufa you haven't posted your code but calling `finish` inside the each block is not safe. You should do something like

    watcher.each do |x|
      ...
      break if my_condition
    end

    watcher.finish

[2015-11-04 17:03] msufa commented on #139
Thanks @simon3z! I tried it following your suggestion and everything works fine now. I don't see any crashes on WatchStream#finish. Closing the issue.

[2015-11-04 17:03] #139 closed

[2015-11-04 17:20] jonmoter commented on #139
This would probably be a good thing to document in the README and/or in the code somewhere.

[2015-11-18 18:02] msufa opened #140 "Use a non-blocking HTTP library"
We have found that using `WatchStream`s inside `Celluloid` actors is a perfect fit for a background event watcher. The only problem is that `net/http` is incompatible with `Celluloid::IO` and it blocks the actor on reading the response, making it impossible to manage. Have you considered using a non-blocking HTTP library, like https://github.com/httprb/http ? We have successfully used it in a monk

[2015-11-18 22:39] simon3z commented on #140
@msufa in the past I've considered several libraries, as `typhoeus`, `em-http-request`, `curl-multi`, etc. but they all had at least one problem that we couldn't address.

Off the top of my head requirements are:

- support basic authentication
- support specific headers
- support ssl (verify mode, client certificate, cert store etc.)
- long-standing connection (no timeout, events may come in rare

[2015-11-19 13:27] msufa commented on #140
@simon3z I did not perform any testing, but I had a closer look at the gem and found that:
 - support basic authentication
  - it supports user/password & bearer authentication
 - support specific headers
  - check
 - support ssl (verify mode, client certificate, cert store etc.)
  - it consumes `OpenSSL::SSL::SSLContext` so I assume it supports everything you can stuff in there
 - long-standing c

[2015-11-19 15:22] simon3z commented on #140
Send a PR and I'll test it to check if there was anything else that I forgot. Thanks.

[2015-12-02 14:23] msufa commented on #140
It took me a while but the PR to resolve this is finally published. Please review #142 @simon3z

[2015-12-02 14:37] henders commented on #140
Nice! +1

[2015-12-11 13:35] simon3z opened #144 "Support new group API"
Kubernetes documentation:

- http://kubernetes.io/v1.1/docs/proposals/api-group.html#server-side-implementation

following the kubernetes description the entities can be reached using the `prefix`, `group` and `version` values.

- for `/api/v1`, we set the `prefix="api"`, `group=""`, `version="v1"`, so the URL remains to be `/api/v1`

A similar approach (client-side) could be used in kubeclient.

[2015-12-11 13:57] simon3z commented on #144
cc @abonas @jimmidyson @msufa @jonmoter

[2015-12-11 14:03] henders commented on #144
I see, so you could represent all the entity types like?
[code]

[2015-12-11 22:25] jrafanie opened #145 "FYI: Update recursive-open-struct once it supports ruby 2.3.0"
FYI. @abonas we'll need to upgrade our dependency on this gem once it supports 2.3.0:
https://github.com/aetherknight/recursive-open-struct/pull/39

Note, 2.3.0 is due around December 25th.

The kubeclient test suite fails against ruby 2.3.0preview2 with error like:
[code]

Everything passes if I hack the Gemfile/gemspec and bundle to use the proposed upstream fix

[code]

[2015-12-13 09:35] abonas commented on #145
@jrafanie - thanks!
I see that this https://github.com/aetherknight/recursive-open-struct/pull/39 was merged, and a new 1.0 ROS gem was released. It seems to me that bumping kubeclient to work with ROS 1.0 even before Ruby 2.3 is released should be sufficient to address this issue. Is that correct?
(of course, later on, 2.3 should be added to travis.yml for testing matrix)
cc @simon3z

[2015-12-13 11:18] abonas commented on #144
IMO hardcoding entity types in the client like we do today, whether it is done with group/api version or without, is not the optimal design approach.
What I would like to see, is the ability to query the server for api versions and the entity types supported in each api version - because the server "knows best" what does it support. That will allow the flexibility needed and will reduce the number

[2015-12-13 19:09] henders commented on #144
I'd +1 to that idea of loading the supported APIs from K8s.

In a Rails app, the user could call a method in an initializer to cause Kubeclient to connect to K8s to interrogate K8s over which APIs it supports.
Further advantages is auto-creating methods like ```client.pods.log``` or ```client.pods.exec``` as K8s returns these more specific resource methods in that API list as well:
[code]

[2015-12-14 09:14] abonas commented on #144
@henders, we do have today the methods api and api_valid? that fetch the version numbers that the server supports, so the direction I'd like to see is extending that approach to get more info on each version from the server.

[2015-12-14 16:11] jrafanie commented on #145
Yes @abonas, that would be fine.  The ROS should be completely backward compatible with existing use cases.  I"m going to run the MIQ test suite against kubeclient with the latest ROS to verify it.

[2015-12-14 16:22] simon3z commented on #145
@jrafanie @abonas about:

    gem 'recursive-open-struct', :github => "Kris-LIBIS/recursive-open-struct", :branch => "master"

is that going to track `master`? It doesn't seem a good idea to track the unstable branch, isn't there any stable branch to follow instead?

[2015-12-14 17:18] jrafanie commented on #145
Good question @simon3z.  Yes, that tracks that person's master branch.

That was a local hack to test it.

What I'm suggesting is something like this:

[code]

Personally, I'd go with `~> 1.0.0` so it accepts patch level updates to the gem.

[2015-12-14 17:25] thockin commented on #144
@nikhiljindal I thought we had something like this, but I can't recall the details (haven't used it much, obv)

[2015-12-14 22:59] simon3z commented on #145
@jrafanie @abonas either `= 1.0.0` or `~> 1.0.0` (in case they're really strict with the stable branch and they don't break often/ever) is fine by me.

[2015-12-15 10:11] abonas commented on #145
I would go with = and not ~> because they did break couple of times in the past with regressions that created some issues for us.

[2015-12-15 10:17] abonas opened #146 "Add Ruby 2.3 to travis.yml matrix as soon as it's released"
based on discussion in this issue https://github.com/abonas/kubeclient/issues/145

[2015-12-15 10:28] abonas commented on #146
cc @simon3z

[2015-12-15 18:52] jrafanie commented on #145
@abonas @simon3z FYI, if you bump the kubeclient release to 0.10.0, we'll need a openshift_client gem that allows it.  It's [currently requiring `~> 0.8.0`](https://rubygems.org/gems/openshift_client/versions/0.2.0) so it only picks up 0.8.0, 0.8.1, etc.  Not 0.9.0, 0.10.0.  And we'll need those gem versions updated in the [manageiq gemfile](https://github.com/ManageIQ/manageiq/blob/master/gems/pe

[2015-12-15 18:57] jrafanie commented on #145
That's fine @abonas.  I try to use `~>` until a gem behaves badly and then I get really pessimistic and use `=` too.

[2015-12-16 09:07] #145 closed

[2015-12-17 01:26] nikhiljindal commented on #144
Yes, API server exposes a "discovery API" as explained in "supporting API discovery" point in that doc http://kubernetes.io/v1.1/docs/proposals/api-group.html#server-side-implementation.

Clients can discover the groups exposed by the server, list of versions supported by each group including the preferred version, and the list of resources in each group version.

We also plan to refactor our clie

[2015-12-17 06:09] caesarxuchao commented on #144
PR that adds the server-side support for discovery: https://github.com/kubernetes/kubernetes/pull/13955#issuecomment-141157000

The golang discovery-client: https://github.com/kubernetes/kubernetes/blob/master/pkg/client/unversioned/discovery_client.go
It simply visits the discovery path and decode the results, it's not a dynamic client.

[2016-01-04 21:31] bkoski opened #149 "Current release (0.9.0) doesn't work on ruby 2.3.x"
The build currently available on rubygems doesn't include this commit:
https://github.com/abonas/kubeclient/commit/eea106035141c896803325000fd4bf00da369521

and so depends on recusive_open_struct 0.6.1.  It seems 0.6.1 doesn't work on ruby 2.3.0; nested objects are returned as Hashes rather than OpenStructs.

Was able to work around this for now by installing the gem directly from github, but woul

[2016-01-04 22:22] simon3z commented on #149
@abonas are we planning a build soon? Supporting ruby 2.3 seems important enough but IIRC there's some problem with testing it on travis (it shouldn't block the release though). Other than that there's no much more meat since 0.9.0 at the moment.

[2016-01-05 10:03] #146 closed

[2016-01-05 10:08] abonas commented on #149
@bkoski I just released 1.0.0 to contain the ROS version 1.0 support, as well as the travis config to work with 2.3.0 (temp workaround as it doesn't recognize 2.3)

[2016-01-05 10:08] #149 closed

[2016-01-06 02:58] bkoski commented on #149
Thanks!  Ran into another issue on 2.3.0; submitted PR #150 as a fix.

[2016-01-18 14:19] msufa commented on #140
The relevant PR has been merged so I consider the issue closed. Thanks @simon3z & @abonas for handling that!

[2016-01-18 14:19] #140 closed

[2016-02-19 06:51] khaliullov commented on #81
@abonas so, how to be with Endpoints? I am not good in Ruby and I temporary created workaround like this:
https://github.com/khaliullov/kubeclient/commit/4d328b00ea057f269f75c60158e00c89b7b90502
but is so ugly.

[2016-02-21 11:03] abonas commented on #81
Well, ideally it would have been fixed on server side so clients won't need workarounds.
However, given that it hasn't been addressed there yet, your solution seems correct, and I would suggest  doing something like the below, just slightly more generic, that's all:

[code]

(tests addition is needed for endpoints to check that the url for various requests for creation/get/etc. is correct)

[2016-02-22 22:58] simon3z commented on #81
@abonas we have to check if `kind` is case-insensitive (and also if we don't care about inconsistencies) because `resource_name` is downcasing the `entity_type`.

Anyway, even though it looks ugly we have to fix this, so overall :+1:

[2016-02-23 16:12] abonas commented on #81
as you suspected it *is* case sensitive. so needs to be capitalized. no big deal.

[2016-02-24 12:44] #81 closed

[2016-03-21 18:34] KarolisL opened #158 "kubeclient-1.1.1 doesn't support Kubernetes 1.2.0"
Kubernetes 1.2.0 was released and it expects Content-Type header - error gets returned if it is not found, so we are unable to create/update resources. This is fixed by PR #152

Could you please release a new version?

[2016-03-21 23:01] simon3z commented on #158
@abonas do we have anything important in the queue to wait for a new release? (I don't see any PR but maybe you have something ongoing).

[2016-03-22 08:47] abonas commented on #158
@simon3z no, we can release just for this.

[2016-03-22 09:14] #158 closed

[2016-04-26 21:11] grosser opened #163 "modify open_timeout"
I want to pass in open_timeout and read_timeout since they both seem to be too big by default,
but passing them in results in `ArgumentError - unknown keyword: open_timeout:`

any idea @msufa @abonas  ?

[2016-04-27 04:33] abonas commented on #163
@grosser could you please provide a specific code example with how you are trying to do this?
thanks!

[2016-04-27 04:36] grosser commented on #163
[code]

[2016-04-27 05:33] abonas commented on #163
if I understand correctly the issue here - you are trying to pass a parameter that is not recognized/ supported by kubeclient itself at the moment, (did you see somewhere documentation of kubeclient usage with this parameter?) , so it makes sense that it doesn't work at the moment.
cc @simon3z

[2016-04-27 06:06] grosser commented on #163
I saw that I cannot pass it in ... that's why I opened an issue :)

On Tue, Apr 26, 2016 at 10:33 PM, abonas <notifications@github.com> wrote:

[2016-04-27 06:07] abonas commented on #163
@grosser it was not clear from your issue that this is a feature request, but rather it sounded like reporting a bug.

[2016-04-27 06:10] grosser commented on #163
ah sorry, definitely a feature request :)
(read_timeout would also be nice while we are at it ... or just all http options ...)

[2016-04-27 17:31] abonas commented on #163
@grosser I don't think I'll have the time to get this implemented in the near future, but perhaps some other community member can pick up the glove.

[2016-04-27 21:19] simon3z commented on #163
I am ok to add these timeouts, but remember that watches are special:

https://github.com/abonas/kubeclient/pull/24/files

In the past I had to force the `read_timeout` to `nil` in that case to prevent the connection to be dropped for inactivity.

[2016-05-02 23:44] grosser opened #167 "get_pod_log not finding a pod in default namespace, but cli is ..."
`get_pod_log 'truth-service-main-role-1504526534-amcel', ''` -> error

`kubectl logs truth-service-main-role-1504526534-amcel` -> works

if I add the namespace to the get_pod_logs it works too ... but strange that it does not work without that :(

[2016-05-03 07:25] abonas commented on #167
@grosser what kind of error do you see?

[2016-05-03 07:34] abonas commented on #167
it is also possible that kubectl does autocompletion of the default namespace if such was not supplied, which makes it a different behavior from the REST api, which is the behavior one would get when using kubeclient.
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/cmd/logs.go
if that's the case, this is not a bug in kubeclient, but rather that the behaviors on k8s side should be

[2016-05-03 18:48] grosser opened #168 "set selector not supported ?"
trying to get logs for multiple objects without success :(

[code]

[code]

seems to be supposed to work http://kubernetes.io/docs/user-guide/labels/ ...

[2016-05-03 19:11] jonmoter commented on #168
FYI, I think this is an issue with Kubernetes itself, rather than the client.  See https://github.com/kubernetes/kubernetes/issues/15128, where I brought up the same issue.

[2016-05-04 05:29] abonas commented on #168
ping @simon3z

[2016-05-09 18:25] jonmoter commented on #144
Is there any movement on this issue?  Would you like a proposal or a PR?

I ask 'cause we're using both Deployments and DaemonSets in our integration, and we're monkey-patching kubeclient to support those. @henders opened PR #143 several months ago, but that appears to be in PR purgatory.

[2016-05-10 02:24] GKTheOne opened #170 "Health check"
Support for the /healthz path?

[2016-05-10 07:45] simon3z commented on #170
@GKTheOne that would be nice (and easy to implement). :+1: from me.

[2016-05-10 09:21] simon3z commented on #144
@moolitayer can you take a look at this issue?

In general I think it's critical that we'll move to the group api in the upcoming months. As mentioned in a previous [comment](https://github.com/abonas/kubeclient/issues/144#issuecomment-165308499) we can leverage the API discovery:

https://github.com/kubernetes/kubernetes/blob/release-1.2/docs/proposals/api-group.md#server-side-implementation

The

[2016-05-10 09:31] GKTheOne commented on #170
I'll work on a PR soon(-ish) unless someone beats me to it. (Warning: I've only been doing ruby for less than a week)

[2016-05-10 09:40] simon3z commented on #170
@GKTheOne are you planning to support also `ping` and `ready`? Not sure what's the exact difference between the three (maybe they're all there just for backward compatibility?)

cc @moolitayer

[2016-05-10 11:02] moolitayer commented on #170
@GKTheOne could you please add a link in this issue's first comment to k8s docs on relevant api bits?

[2016-05-10 12:16] deads2k commented on #144
That's a long term goal, but I don't think we'll be there for 1.3.  I will make it a point to experiment with at least one of our logical groups this release, but I doubt we'll be able to contain migrating all of them.

[2016-05-10 20:00] abonas commented on #170
+1

Is this about /healthz for kubelet or containers health check?
generally speaking, a PR on health check is welcome

[2016-05-11 13:18] simon3z commented on #168
@grosser can you check if that works with kubectl (or with any rest-api tool). Would you paste here the request/response? Thanks.

[2016-05-11 20:57] grosser commented on #168
querying for labels with multiple values works nicely for pods:
[code]

but does not seem to be supported via the cli for events ...

[code]

and it should work once kubernetes supports it since the passed in value is not getting messed with ...

[2016-05-11 20:57] #168 closed

[2016-05-13 06:04] GKTheOne commented on #170
I was thinking about just the apiserver /healthz endpoint. Mainly as a simple availability check.

However after a quick google turned up nothing explicit documentation-wise, and based on @simon3z and @abonas comments, I'm starting to think a) /healthz will probably be deprecated, or at least is 'private', and b) you all have bigger ideas on 'health check' 😃

I'll do some digging this weekend and

[2016-05-13 11:33] simon3z commented on #170
@GKTheOne:

[code]

[2016-05-15 13:28] abonas commented on #170
@GKTheOne:
http://kubernetes.io/docs/user-guide/liveness/
although it seems that it should be self implemented already by including it in the pod definition (and making sure the status/response is read)

[2016-05-16 22:34] GKTheOne commented on #170
Thanks for that. I'll be a bit busy for the next couple of days (2-3), but I'll get back to this then.

[2016-05-29 21:53] abstrctn opened #172 "ueihkntjfbf"

[2016-05-29 21:53] #172 closed

[2016-06-08 06:08] erez-rabih commented on #144
Hi,
Just bumped into this issue as we're using the deployments API extensively and would like to use the ruby client with it.
I can create a PR if needed.

[2016-06-10 19:58] jonmoter opened #173 "Config file reader doesn't read user auth options"
In the spec for the [kubeconfig file](http://kubernetes.io/docs/user-guide/kubeconfig-file/), the `user` section can contain the following keys:

* `token`
* `username`
* `password`

Currently the `Kubeclient::Config` class ignores those, and only reads the `client-certificate` and -client-key` values.

[2016-06-15 00:39] diclophis opened #176 "Ingress support"
Hello,

We would like to use your library for a bespoke ruby-based ingress controller for our staging kubernetes cluster... Do you know when this library might gain support for ingress resources... and or, could you comment on how one might go about adding this resource to the library... as we may have time ourself to add the implementation.

Thank You for your time

[2016-06-15 08:03] #173 closed

[2016-06-15 08:04] simon3z commented on #176
Hi @diclophis ingress requires the new group API #144. So it's tricky.
I think @moolitayer did some analysis on how to add the group API.

If you have time, I'd say that you can start proposing a design for #144, after that the ingress support will be trivial.

[2016-06-15 09:02] abonas commented on #176
@simon3z there's an additional user [who's interested](https://github.com/abonas/kubeclient/issues/144#issuecomment-224497707) in the group api

[2016-06-15 18:16] diclophis commented on #176
Ok, thanks for the quick reply, we will investigate the mentioned discussions and hopefully get a fork going with some patches

[2016-07-01 17:45] quavmo commented on #144
Really grateful for the work this library has allowed me to do, and I'm definitely interested in reviewing a PR that makes `Kubeclient::Client#foo_ingress` possible. @erez-rabih, how motivated are you to create a PR enabling the group API?

[2016-07-12 10:53] simon3z commented on #144
@quavmo please keep in contact with @moolitayer. He's probably going to start some work on this any time soon.

[2016-07-12 13:05] moolitayer commented on #144
@simon3z @quavmo @erez-rabih I'm working on this and should have an update soon

[2016-07-13 07:31] erez-rabih commented on #144
@moolitayer Thanks for the update, much appreciated.

[2016-07-26 12:36] moolitayer commented on #144
# Specification for groups & auto discovery support

Currently we support arguments for the api path and version and guess '/api' and 'v1' if not provided.
Both of these are valid today and create a client for the same endpoint:
[code]

We will continue to support both.
It will be possible to create a client for the groups api:
[code]

## Api versions
The client will continue to be created with an

[2016-08-03 15:07] simon3z opened #182 "activesupport requires Ruby version >= 2.2.2"
The `activesupport` dependency [kubeclient has](https://github.com/abonas/kubeclient/blob/3409365eb20171acef57162cf0abc101381474fd/kubeclient.gemspec#L29):

[code]

is breaking travis jobs for Ruby < 2.2.2 on:

[code]

The gem installation on Ruby < 2.2.2 fails as well (when activesupport is not installed yet):

[code]

Unless there is a way to have a conditional dependency (`activesupport < 5` fo

[2016-08-03 16:18] Fryguy commented on #182
@bdunne has solved this problem in a number of gems... @bdunne, can you comment here?

[2016-08-03 19:14] jonmoter commented on #182
Do you know off-hand how ActiveSupport is being used?

When possible, I prefer that gems keep their dependencies minimal, to avoid potential conflicts when including them.  If it's used heavily, that's fine, but if it's only used for a few small functions, I'd suggest removing it.

[2016-08-04 00:12] bdunne commented on #182
You can use this hack to support older rubies...
https://github.com/ManageIQ/ansible_tower_client/blob/master/ansible_tower_client.gemspec#L22

On Aug 3, 2016 3:14 PM, "Jon Moter" <notifications@github.com> wrote:

[2016-08-04 08:26] abonas commented on #182
iirc it is used for things like `pluralize`
https://github.com/abonas/kubeclient/blob/master/lib/kubeclient/common.rb#L131

[2016-08-04 08:43] simon3z commented on #182
@bdunne @Fryguy I saw that around but that's evaluated at build-time... which means that depending on what Ruby you use, you build a gem with different dependencies.

If you build the gem on Ruby < 2.2.2 (and release) then you generate a dependency of `activesupport < 5` which will break other projects (e.g. ManageIQ requiring `activesupport 5`).

If you build on Ruby >= 2.2.2 (and release) then y

[2016-08-08 14:35] Fryguy commented on #182
Any project that requires Rails 5 can only use Ruby >= 2.2.2 since rails itself requires 2.2.2, so nothing should break.  Most projects use bundler, and bundler would protect against your particular error.

[2016-08-08 16:12] simon3z commented on #182
Requiring rails only for pluralization seems an overhead @Fryguy @bdunne @jonmoter do you have any alternative? (I saw the `linguistics` gem). I suppose that the process to extract `inflections` out of the `activesupport` gem would be long and controversial.

If no alternatives, then only solution is to drop support for Rails < 2.2.2.

[2016-08-08 17:25] Fryguy commented on #182
I'm not following why @bdunne's thing doesn't work.

[2016-08-08 17:31] simon3z commented on #182
@Fryguy it would make it travis pass but it's not fixing the issue.
The proposed conditional is evaluated at kubeclient gem build-time. Based on which Ruby (>= 2.2.2 or < 2.2.2) you use to build/release then you would have different dependencies (and in both cases they would have an issue as described above).

[2016-08-08 20:45] simon3z commented on #182
@Fryguy, to give you more information, with the change:

[code]

suggested by @bdunne, the conditional is evaluated at gem build-time.

When you build with Ruby < 2.2.2:

[code]

When you build with Ruby >= 2.2.2:

[code]

@Fryguy @bdunne now which one would you release (and why)?
If we're releasing the second one, then why even bother trying to support Ruby < 2.2.2 in travis, we know that it won'

[2016-08-09 05:43] jonmoter commented on #182
FYI, I spent a few minutes experimenting with removing the ActiveSupport dependency and seeing what breaks.  It appears we use these methods that are in ActiveSupport:

* `String#camelize`
* `String#pluralize`
* `String#underscore`
* `Hash#slice`

We could just include method definitions for each of those.  Or for the first three, just create our own static mapping table for the entity types we su

[2016-08-09 07:45] simon3z commented on #182
@moolitayer in your #181 are you dropping any of the requirements above? (cc @jonmoter)

[2016-08-16 17:02] moolitayer commented on #182
#184 is dropping the dependency on activesupport:

Afraid No. A different implementations might do so. We can deal with that later.

appears to be stdlib

[2016-08-24 15:21] #182 closed

[2016-09-07 09:08] motymichaely opened #187 "Any call that use entity config should symbolize its keys"
Hey,

There's a potential issue with calls that use entity_config (like [here](https://github.com/abonas/kubeclient/blob/master/lib/kubeclient/common.rb#L236)). They all assume entity_config has symbolized keys.

I'd propose normalizing entity_config hash by symbolizing its keys:

[code]

Any rejection for suggesting a pull request?

Thanks!

[2016-09-07 10:29] simon3z commented on #187
cc @moolitayer

[2016-09-07 12:19] moolitayer commented on #187
[RecursiveOpenStruct](https://github.com/aetherknight/recursive-open-struct) symbolizes keys for us:
"Also, by default it will turn all hash keys into symbols internally:"

[code]

We should not re implement rails' deep_symbolize_keys

[2016-09-07 13:19] motymichaely commented on #187
@moolitayer Great. So I would suggest adding some info on this to the documentation.

For example:
[code]

Produces this error:
[code]

Based on your suggestion, this works:
[code]

[2016-09-12 20:15] andrewkrug opened #189 "jobs support"
Please support jobs from /apis/extensions/v1beta1/jobs

[2016-09-13 06:27] abonas commented on #189
http://kubernetes.io/docs/user-guide/jobs/

cc @simon3z

[2016-09-13 07:54] simon3z commented on #189
@moolitayer isn't this covered by your group API PR?

[2016-09-13 08:15] moolitayer commented on #189
yes it is:
https://github.com/abonas/kubeclient/pull/185

[2016-09-13 16:48] andrewkrug commented on #189
Do you have an example of how you could use this style to create a job and then query the state of that job?  Ideally I need to get back the stdout.

[2016-09-14 12:00] moolitayer commented on #189
@andrewkrug I've created an example here:
https://github.com/moolitayer/kubeclient-examples/blob/master/kubeclient-job.rb

It follows k8s [jobs example](http://kubernetes.io/docs/user-guide/jobs/)
[code]

Currently it sleeps to wait for the job to complete, maybe you can add a snippet to wait for the completion

[2016-09-15 16:37] andrewkrug commented on #189
That's exactly what I did.  I added a status function to an object I wrote.  This PR you've got into this gem works great!  Hope to see this merged into master.  Right now I'm pulling directly from your branch in my Gemfile.

[2016-09-16 17:48] #144 closed

[2016-09-16 17:48] #189 closed

[2016-09-18 16:51] moolitayer commented on #176
@simon3z @diclophis this should be closed through #185

[2016-09-18 17:09] moolitayer commented on #187
@motymichaely I'm good with a Readme change.
I think the best we can do is to consistently advocate the usage of the generic Kubeclient::resource class post #185 throughout the Readme as well as all the tests.
There are just too many ways being used in our example code now and that is confusing as well as the problem described in this issue.

In your example:
[code]

@abonas @simon3z agree/disagre

[2016-09-19 02:49] abonas commented on #187
@moolitayer :+1:

[2016-09-19 08:30] moolitayer commented on #187
@motymichaely interested in submitting a pr as per the above [comment](https://github.com/abonas/kubeclient/issues/187#issuecomment-247860068) ?

[2016-09-22 08:33] simon3z commented on #176
@diclophis was this resolved by #185 ? If that's the case we could close this right?

[2016-10-04 04:51] grosser opened #196 "update and delete should return proper objects"
create and get return RecursiveObjectStruct ... update and delete return RestClient::Response ... not good ...

[2016-10-04 04:52] grosser opened #197 "return hashes instead of RecursiveObjectStruct"
less magic ... less work/coversion ... more performance ?
... sounds good ? ... maybe optional via config ?

[2016-10-04 04:54] grosser commented on #187
FYI Decided to go with `.deep_symbolize_keys` (rails) in our project... easier to debug and no more ObjectStruct bugs/overhead ...

[2016-10-04 11:52] simon3z commented on #196
@moolitayer can you look at this?

[2016-10-04 11:52] simon3z commented on #197
cc @moolitayer

[2016-10-04 11:53] simon3z commented on #176
Closing for now, feel free to reopen in case this is not covered properly by #185

[2016-10-04 11:53] #176 closed

[2016-10-04 17:45] diclophis commented on #176
ok great

[2016-10-05 11:01] moolitayer opened #198 "Only one resource class should exists: Kubeclient::Resource"
Kubeclient::Resource should be returned for all entites

[2016-10-05 11:10] moolitayer commented on #196
I agree, we should change update delete and patch. That would require a version bump as well as an 'Upgrading' Note.

[2016-10-05 11:37] moolitayer commented on #197
This would be at most an optional (global instance config value that we would need to add) optimization (over to_h). I'm not sure if it is worth the trouble. if we go down this path we should consider input/output together.

[2016-10-05 17:04] moolitayer opened #199 "Kubeclient next: tracker of non backward compatible issues"
- https://github.com/abonas/kubeclient/issues/196
- https://github.com/abonas/kubeclient/issues/198
- https://github.com/abonas/kubeclient/issues/187#issuecomment-247860068
  (basically a Readme update getting rid of all Kubeclient::X classes)

[2016-10-21 06:25] mikekap opened #201 "Exception handling doesn't catch SSL errors"
This causes the fluentd kubernetes plugin to bubble up an annoying exception right now:

[code]

[2016-10-21 08:39] simon3z commented on #201
cc @moolitayer

[2016-10-25 19:29] andrewkrug opened #202 "Post NetworkPolicy Annotations on Namespace"
Any examples of posting networkPolicy annotations for a namespace?

[2016-10-25 22:05] simon3z commented on #202
cc @moolitayer

[2016-10-26 07:46] moolitayer commented on #202
I don't have the time to write a specific example at the moment, should be something like:
[code]

[2016-10-26 14:26] andrewkrug commented on #202
@moolitayer should this work the same in theory for also apply rules to the network policy?

[2016-10-26 18:19] andrewkrug commented on #202
So this very much does work:

isolation_policy =
    {'metadata' =>
      {'annotations' =>
        {"net.beta.kubernetes.io/network-policy"=>"{\"ingress\": {\"isolation\": \"DefaultDeny\"}}"}
      }
    }

@client.patch_namespace 'fd5ce1e9481667af26bf6a78697d8ccf4fe2d172', isolation_policy

[2016-10-26 18:20] andrewkrug opened #203 "Handle posting networkPolicy objects"
Does this gem support creating network policy objects in this style for example?

I can do it with kubeclient...

[code]

[2016-10-26 18:21] andrewkrug commented on #203
Need to be able to craft these programmatically and apply at namespace creation time.

[2016-10-31 13:38] moleksyuk opened #206 "Incompatible http dependency in logstash"
Hi @abonas

I'm developing one logstash plugin with dependency on your `s.add_runtime_dependency 'kubeclient', '~> 2.1.0'` but I can't install it to logstash `2.3.4` because logstash has `http (0.9.9)` and `kubeclient` depends strictly on `spec.add_dependency 'http', '= 0.9.8'`.

[code]

Do you plan to update it to newer version or specify not strict dependency?

[2016-11-02 23:12] simon3z commented on #206
@moleksyuk would PR #204 solve this issue? Maybe not because @grosser is bumping to `~> 2.0.3`. Can you come up with a common solution that we can evaulate? Thanks.

[2016-11-02 23:14] grosser commented on #206
bump http in logstash to be ~> 2.0 instead ... it is unnecessary tighly locked

[2016-11-02 23:15] grosser commented on #206
basically they are both doing a silly thing and now they collided :D

[2016-11-02 23:17] simon3z commented on #206
@moleksyuk @grosser I am worried about this because bumping a dependency of one (or more :blush: ) major versions is not backward compatible (e.g. what if a current user of this gem has a dependency on `http ~> 0.9`?)

[2016-11-02 23:19] grosser commented on #206
then they should bump ... "let us all stay on this old version together" is
not going to work either :D

On Wed, Nov 2, 2016 at 4:17 PM, Federico Simoncelli <
notifications@github.com> wrote:

[2016-11-02 23:23] simon3z commented on #206
Sure but just be aware that this will be scheduled with a major release of kubeclient as well (together with some other non-backward compatible cleanups and changes).

[2016-11-02 23:28] grosser commented on #206
sounds like a good plan :)

On Wed, Nov 2, 2016 at 4:23 PM, Federico Simoncelli <
notifications@github.com> wrote:

[2016-11-03 10:34] garo opened #208 "Allow different resources to use different apiVersion"
Currently the apiVersion is set on the Kubeclient::Client.new and it's enforced in https://github.com/abonas/kubeclient/blob/master/lib/kubeclient/common.rb#L320

We should instead allow that the resource contains apiVersion by itself and Kubeclient should honour that. This would allow easily to read a standard Kubernetes manifest .yaml file and apply that into the apiserver, so that the .yaml spe

[2016-11-07 18:27] grosser commented on #199
- remove KubeException https://github.com/abonas/kubeclient/pull/195

[2016-11-11 21:46] jeremywadsack commented on #208
Is that needed anymore? It was commented as a patch for kubernetes/kubernetes#6439, which according to [comments](https://github.com/kubernetes/kubernetes/issues/6439#issuecomment-223059790) on that issue has a [commit](https://github.com/kubernetes/kubernetes/pull/10200/commits/664d20c572498fd443a678160ff6a49fd9d4d22a) that addresses it.

[2016-11-11 22:04] jeremywadsack opened #210 "Authentication from "gcp" provider"
I'm trying to use `kubeclient` with my local `~/.kube/config` file with GKE. Following the instructions in the README I expected this to work as follows:

[code]

However, this failed because the `Config` class expects the `users` section of the configuration file to contain either a `token` parameter or `username` and `password` for the appropriate user.

When I look at my `~/.kube/config` file i

[2016-11-14 15:55] simon3z commented on #206
@grosser @moleksyuk can you update the PR reflecting the decision we made here?

[2016-11-14 16:03] simon3z commented on #210
@jeremywadsack can you send a PR for this fix?

You need to re-authenticate with the server using oauth.

[2016-11-14 16:18] andrewkrug commented on #203
@moolitayer Maybe I can do this now with the way you've got things set up... would this be a difficult addition to the gem?

[2016-11-14 16:25] simon3z commented on #203
@andrewkrug I think the support should be there already (given that we discover the entities automatically now).

[2016-11-14 16:38] #202 closed

[2016-11-14 16:39] andrewkrug commented on #203
@simon3z any chance you could point me in the right direction of some documentation on that?

[2016-11-14 17:09] jeremywadsack commented on #210
I'm happy to submit a patch but the token is only good for at most an hour.
I'd rather submit a PR that covers the OAuth re-authentication but I don't
know how kubectl does that without a web page. Is there another token
somewhere that we can use?
On Mon, Nov 14, 2016 at 8:03 AM Federico Simoncelli <
notifications@github.com> wrote:

--
Jeremy Wadsack

[2016-11-14 18:02] simon3z commented on #210
@jeremywadsack for never-expiring tokens you should use service accounts (at least that's what we do in OpenShift). You may have better luck getting this questions answered on the kubernetes repository (there's nothing specific to this gem).

[2016-11-14 18:05] simon3z commented on #203
I expect @moolitayer will answer your questions with the details (meanwhile you could try to learn the examples and guess how it should work for network policies).

[2016-11-14 19:56] jeremywadsack commented on #210
@simon3z: Right. We use service accounts on the servers. I was trying to set this up to be able to run/test in development where we have `kubectl` installed. I guess I was expecting to mimic the behavior of `kubectl`. I don't have to use a service account with that and it re-authorizes the token whenever it expires.

I'll go ahead and submit a PR for this as is, with the caveat that you will need

[2016-11-15 13:05] moolitayer commented on #203
Getting network policies on my local server:

[code]

Posting should work similarly.

[2016-11-20 17:05] moolitayer commented on #210
@jeremywadsack looking at both patches and the google doc you attached I still don't understand the flow :pensive:

Can you please give a high level flow of what you are trying to achieve?

[2016-11-20 20:06] jeremywadsack commented on #210
@moolitayer Sorry if that wasn't clear.

On my dev environment, I'd like to be able to use `kubeclient` to run (test) Job scaling. Approximately the following:

[code]

I have already authorized `glcoud` with my Google credentials, which configures `kubectl` so that I can make calls whenever I need to. I don't need a separate service account, and I don't need to go through a browser-based OAuth2 f

[2016-12-13 22:54] grosser opened #217 "delete with label_selector ?"
Is there a nice way of doing this ?
... I want to delete a job and all it's pods, ideally avoiding having to find all pods and then deleting them 1-by-1 :(

[2016-12-13 22:56] simon3z commented on #217
cc @moolitayer

[2016-12-13 23:00] grosser commented on #217
... this could be done by exposing a free-for-all `request :delete, :pod, blob` ... something that calls rest_client under the hood and handles errors like all the other methods

[2016-12-13 23:05] grosser opened #218 "serialize labelSelector in get_pods and others"
`get_pods label_selector: {foo: 1}` atm results in `http://foobar.server/api/v1/namespaces/pod1/pods?labelSelector%5Bfoo%5D=1` ... but should be: `http://foobar.server/api/v1/namespaces/pod1/pods?labelSelector=foo%3D1`

[2016-12-14 15:15] simon3z opened #219 "Kubernetes Incubation Proposal for Kubeclient"
Reference: https://github.com/kubernetes/community/blob/master/incubator.md

## README
### Problem Statement

Kubernetes is currently missing a Ruby client of reference. Kubeclient is a project started in December 2014 that implements the Kubernetes API for Ruby. Since Q1 2016 with the addition of the api-group support it covers all the discoverable objects and the majority of the verbs of the API

[2016-12-14 15:34] smarterclayton commented on #219
Add description of how to converge with client generation, and add points about whether this is inconsistent or not.

Ask the question about how the ruby gems can be built and pushed to the mirrors.  Who does that?

[2016-12-14 15:35] moolitayer commented on #217
We have no support that.
@grosser is the solution you are suggesting going to call delete on all the entities one by one?

[2016-12-14 15:53] simon3z commented on #219
@smarterclayton I think these two parts are related. I assume there's a way to auto-generate ruby code from swagger (we'll have to evaluate if that has issues), but even so, is there anyone in Kubernetes already assigned to release Gems? If that's not in place we could converge this client to the auto-generation and provide the Gem generation if that's missing.

[2016-12-14 16:02] grosser commented on #217
Ah nvm ... I though the api allowed mass deletes ... but the cli uses get + delete too ... so there might be no way of doing this :)

[2016-12-14 16:02] #217 closed

[2016-12-14 16:29] smarterclayton commented on #219
I don't think you have to *start* with auto gen, just have an answer for how you'd use it / approach it.

Gem generation I don't think is happening, so there may be some concern about approaching it.

[2016-12-14 17:31] simon3z commented on #219
@smarterclayton I updated the issue with the info you needed.

[2016-12-19 18:47] gabe-ochoa opened #220 "HTTP library is out of date and causuing error when used with Ruby >= 2.3.0 due to missing dependency"
The HTTP library used in `kubeclient` is currently set at >= 0.9.8
https://github.com/abonas/kubeclient/blob/master/kubeclient.gemspec#L30

The most recent version is 2.1.0
https://github.com/httprb/http/releases

The HTTP library currently is causing errors when I use `kubeclient` with a project using the newest minor version of Ruby.

[code]

I have a forked branch with HTTP updated that has gre

[2016-12-19 20:23] smarterclayton commented on #219
Looks ok.

[2016-12-23 09:49] simon3z commented on #220
Hi @gabe-ochoa we're discussing the gem updates in issue #206
I am closing this so that we can continue in a single issue (#206).

[2016-12-23 09:49] #220 closed

[2017-01-10 15:18] brunowoo opened #222 "Include docker image in metadata"
Hi,

Would it be possible to add the docker image name:tag to the metadata? It is available from kube pod information and the container_id is already known from the log. This would allow to trace logs back to specific versions of pods/applications/containers in fast-moving environments, quite a valuable addition in my opinion.

I've looked through the code (I'm not a very experienced ruby develope

[2017-01-10 15:18] #222 closed

[2017-01-10 15:18] brunowoo commented on #222
Wrong repo, sorry..

[2017-01-16 16:44] garethr commented on #210
Just a note that we (myself and @kenazk) ran into this issue. If anyone else hits it and needs a workaround until the linked PRs work there way through into a release you can request GCP gives you the client certificate rather than the new OAUTH token. Simply run the following command:

    gcloud config set container/use_client_certificate True

And then get the credentials again:

    gcloud con

[2017-01-18 09:11] simon3z commented on #210
Thanks @garethr

[2017-01-18 22:36] jeremywadsack commented on #210
BTW, in our testing of #213, I discovered that it also only works if you've installed default application credentials.

[code]

So perhaps, just updating the README with @garethr's suggestion is a simpler approach to solving this, if you are not keen on having this gem support GSC default authentication credentials generally.

[2017-01-18 23:21] simon3z commented on #210
@garethr @jeremywadsack can you send a PR for the README?

If there's anything that we can do to facilitate an external/3rd-party integration for gsc please let us know.

[2017-01-19 00:25] jeremywadsack commented on #210
@simon3z by "external/3rd-party integration for gsc" do you mean a separate gem that combined `kubeclient` and custom code to achieve what #213 does?

In that case we'd need some "plug-in" support that allows defining custom options, validating those options, and acting on them.

[2017-01-19 11:16] simon3z commented on #210
Yes.

Don't you just need to wrap the calls with something that catches the specific error code, re-authenticates and repeats the request?

[2017-01-28 12:21] stevenaldinger commented on #210
Thanks @jeremywadsack and @garethr. I've been super excited about your puppet module but hadn't been able to get it working yet with the 401s, didn't dive into kubeclient until this morning. 👍

[2017-02-04 22:23] hridyeshpant opened #224 "support of apis/extensions/v1beta1 API"
is there any api for kind: Deployment ?
e.g
1.kubectl get deployments // to check if deployment exists
2. kubectl apply  -f deploy.spec.yaml // to apply change to existing deployment
3. kubectl create -f deploy.spec.yaml  // create first deployment

i would like to perform above operation, but could not see any API.
Please let me know if there any other way to perform above deployment operation.

[2017-02-05 01:58] hridyeshpant commented on #224
does it support apis/extensions/v1beta1?
looks like deployment is part of apis/extensions/v1beta1 REST API.

[2017-02-05 12:31] simon3z commented on #224
cc @moolitayer

[2017-02-05 15:02] moolitayer commented on #224
On first look all these should be supported, but this makes me realize we desperately need an update of the readme file. I will be available in a couple of days, @hridyeshpant in the mean time please take a look at readme under "For A Group Api:" and let us know if you have problems.

[2017-02-05 18:08] jonmoter commented on #224
Yeah, something along the lines of:
[code]

[2017-02-06 01:34] hridyeshpant commented on #224
@moolitayer thanks for pointing "Group API", after using "Group API" , i am able to get deployment data.

yeah defiantly readme file need an update.

[2017-02-06 08:20] simon3z commented on #224
@hridyeshpant @jonmoter @moolitayer  can anyone send a PR to update the README file?

[2017-02-07 18:56] moolitayer commented on #224
#225 quick one since I don't have much time. @hridyeshpant you have to review now :yum:

[2017-02-08 07:45] hridyeshpant commented on #224
@jonmoter now i am using client.create_deployment(deployment_spec) with proper api version.
Just want to check can we create deployment_spec from json file directly ?
below is my code
 Step 1 :
@k8_group_client = Kubeclient::Client.new( 'https://api.kubetnets.dev.XYZ.com/apis',
                                               'extensions/v1beta1',
                                               {

[2017-02-10 00:08] hridyeshpant opened #226 "support of "kubectl rollout status" API"
I am trying to check my deployment status .
kubectl provide the say to check the status of deployment, Do we have any API like this?

[code]

[2017-02-14 12:06] hridyeshpant opened #227 "support of Pod Autoscaling API"
kubectl provide Pod Autoscaling
[code]

[2017-03-01 16:44] salilgupta1 commented on #208
Is this anywhere on the roadmap? It would be great to decouple the client from a specific API version

[2017-03-01 17:44] simon3z commented on #208
cc @moolitayer

[2017-03-02 10:34] moolitayer commented on #208
Not currently on my road map.

Designing the API (as well as backward compatibility) for this might prove somewhat complex.
for example this proposal describes put requests, but what is the plan for get, will we still enforce passing a version in initialization and use that?

I remember last time we discussed that, we had an idea of supporting some set_version which seems easier but might not supp

[2017-03-02 11:10] simon3z commented on #208
I'd like to see how the design/api would look like before anyone investing into it.

[2017-03-02 13:03] zakiva commented on #208
For the use case of template instantiation, we just create different clients according to the api and version we need. It could have been a little more elegant to use the same client with different versions, but I wouldn't consider it as a high priority item for us in this use case.

[2017-03-02 18:32] jordimassaguerpla opened #230 "relax requirement on recursive-open-struct"
Hi,
kubeclient requires recursive-open-struct to be 1.0.0. However, there has been, on recursive-open-struct, 2 minor updates (1.0.2) which fix 2 issues:

https://github.com/aetherknight/recursive-open-struct/blob/master/CHANGELOG.md

Could you relax the requirement so that we can use kubeclient with recursive-open-struct 1.0.2? I would suggest to go for "~>1.0.0"

[2017-03-02 21:58] simon3z commented on #230
@jordimassaguerpla I am ok with `~>1.0.0`. I think you can safely try to invest some time to send a PR for that and if @moolitayer agrees we can merge it.

[2017-03-04 04:54] jeremywadsack commented on #208
It seems to me that on the all requests (including `GET` requests) you still have methods fore each resource so maybe you can look up the default `ApiVersion` for a resource?

It would be nice to not have to have multiple clients. This pattern feels cumbersome:

[code]

[2017-03-04 10:35] garo commented on #208
I had to do a similar system where I create multiple clients for different api/extension versions and then try to find out the suitable client which supports a particular entity type.

It would be really great if kubeclient would just transparently support all different api versions with a single client instance.

[2017-03-07 23:59] simon3z commented on #208
@garo OK for creation and update of resources (above request doesn't apply to getting resources).
It shouldn't too hard to submit a PR for that (creation/update).

Although be advised that if the different api versions are changing the URL paths, that case we may not be able to handle so easily.

[2017-03-11 02:01] hridyeshpant opened #234 "kubect like feature for delete resources."
Kubectl delete -f <file_name> can delete all resource mentioned in input file.
i am creating deployment which have replica set,  the create API is working fine and creating all resources like replicaset with deployment.
But when i am using deleteAPI with same dataset, i am getting error and it seems i cant pass yml file to deleteAPI and can only pass name of the resource.  so in this cace i need t

[2017-03-13 12:53] danajp opened #235 "Automatically detect kind and apiVersion in Resources"
So I've found myself writing a lot of code like this lately:

[code]

And then I have to decide which client instance to use depending on the kind of entity I'm working with. The `core` client for services, `ext` client for deployments, `batch` client for jobs, etc. It'd be nice if this worked like `kubectl apply -f some-entity.yml` where I could specify the `kind` and `apiVersion` fields in my `K

[2017-03-13 13:45] simon3z commented on #224
@hridyeshpant did you solve this issue or is still relevant?

[2017-03-13 13:46] simon3z commented on #230
Closed by #231

[2017-03-13 13:46] #230 closed

[2017-03-13 13:47] simon3z commented on #235
@danajp is this a duplicate of #208 ?

[2017-03-13 13:53] danajp commented on #235
Yep, my issue search-fu is weak. I'll close this. Thanks!

[2017-03-13 13:53] #235 closed

[2017-03-15 04:56] grosser opened #237 "switch http client to something that does not have a native extension"
faraday or httparty would come to my mind ...

[code]

[2017-03-20 16:06] dictvm opened #238 "Cannot create new secret"
I am having issues creating a new secret in a local minikube cluster. I've tried debugging this myself but I think my Ruby-foo isn't sufficient.

Here is [my example code](https://gist.github.com/dictvm/85aa41361e9bb696a6c10c098c553208#file-ruby_k8s_democode-py) which is throwing the following exception:

[code]

Did I misread the documentation? I tried to stay close to the provided examples in th

[2017-03-20 17:27] simon3z commented on #238
@cben can you look into this?

[2017-03-26 09:41] cben commented on #237
Oh, I thought Kubeclient is purely rest-client but turns out we also use [http gem](https://github.com/httprb/http) for `WatchStream` functionality.  And http also requires native extenstions in `nokogiri`.

I propose any replacement should:
- support streaming so it can replace both rest-client & http.
- use HTTP persistent connections.  rest-client opens new socket (and TLS handshake) for every

[2017-03-26 10:17] cben commented on #237
httparty is also pure ruby, uses 'net/http'.
- Streaming: looks like yes: https://github.com/jnunemaker/httparty/blob/master/examples/stream_download.rb
- No builtin persistent (https://github.com/jnunemaker/httparty/issues/155) but there is https://github.com/soupmatt/persistent_httparty

[2017-03-26 15:25] grosser commented on #237
Great summary! :D
Faraday is in a weird state maintainer wise ... so not sure if that will
work out ...

so far httpclient sounds like the winner to me too ... just need some
benchmarks :)

On Sun, Mar 26, 2017 at 3:17 AM, Beni Cherniavsky-Paskin <
notifications@github.com> wrote:

[2017-03-27 12:15] cben opened #239 "pretty-printed json wastes bandwidth"
Not sure if it was always the case, but I'm seeing k8s API default to pretty printing (newlines and indentation).
Should add `?pretty=false` in URLs to get minimized JSON.  Probably only on GET requests (?)
On deep big requests like `/pods` this can decrease response size by up to ~1.6 (e.g. 89k vs 54k).

[2017-03-27 13:02] abonas commented on #239
good idea

[2017-03-27 21:31] cben opened #240 "SSLError not always translated to KubeException"
There is a specific test that it should be (and #195 will add a second test):
https://github.com/abonas/kubeclient/blob/f489a35027a7/test/test_kubeclient.rb#L95-L105
but in reality I'm seeing an SSLError escaping:
https://gist.github.com/cben/faf8a9f7f104561c0b36c88ae02f2509
That makes sense, `handle_exception` only rescues `RestClient::Exception`.
Why does the test pass?

Aha.  RestClient has its

[2017-03-28 06:54] simon3z commented on #240
@cben what's the final impact here. Does this deserve a bug to be tracked in MIQ?

[2017-03-28 07:53] cben commented on #201
Looks same as #240.
We wrap it IFF RestClient wrapped it, which depends on `error.message.include?("certificate verify failed")`.
I propose closing this in favor of #240 which has more details.

[2017-03-28 07:58] cben commented on #199
#240 probably (start or stop always wrapping SSL errors — either one may break code expecting current behavior, though current behavior is inconsistent.)

[2017-03-28 08:24] moolitayer commented on #240
Based on the link @cben [posted](https://github.com/rest-client/rest-client/blob/8874463a4/lib/restclient/request.rb#L751) I think we should catch OpenSSL::SSL::SSLError to keep the behavior we have (or thought we had). Introducing a new subclass sound good but I'd like to see this resolved first.

@cben do you plan to send a PR for this? I have some time to do that, let me know
(I think you have

[2017-03-28 08:31] moolitayer commented on #201
I affraied I missed this one back in Oct

[2017-03-28 14:47] moolitayer commented on #240
Some test code and different exceptions I got

### test code
[code]

[code]

[code]

[code]

I'm not sure we should catch & wrap, what rest client is doing is silly. It should be fix in rest client. Also It would break backward compatibility as @cben mentioned. So I'm favor of not changing anything in kubeclient

@simon3z @abonas What do you think?

[2017-03-28 20:09] danajp commented on #208
Hey all. I've opened a PR to make multiple apis with a single client instance work as well as detecting kind/apiVersion from a `KubeClient::Resource`. This is definitely WIP.

I'm looking for feedback on the approach at this point. If my general approach looks good, I'll continue with tests/cleanup.

[2017-03-28 20:13] simon3z commented on #208
Thanks @danajp! I asked @moolitayer and @cben to review your WIP PR.

[2017-03-29 11:44] abonas commented on #240
Is there an issue reported on this to rest client repo?

[2017-03-29 11:46] abonas commented on #199
@moolitayer have you considered tracking backward incompatible issues by labeling them directly as such? tracking them here is nice, but manual tracking is fragile and some things can slip away

[2017-03-29 11:59] moolitayer commented on #240
https://github.com/rest-client/rest-client/issues/168 (from 2013)
This might also be related: https://github.com/rest-client/rest-client/issues/286

[2017-03-29 12:14] moolitayer commented on #199
@abonas sounds great. Note I cannot label stuff ATM

[2017-03-29 12:21] abonas commented on #199
@moolitayer do you mean you cannot create new labels or you can't apply existing labels? I think you should be able to label things. Please check. I can create a new label, any preferred name?

[2017-03-29 12:27] moolitayer commented on #199
As a non administrator (is that how it is called) I cannot assign labels. I think that why we label things using the bot in miq?

![kubeclient next tracker of non backward compatible issues issue 199 abonas kubeclient](https://cloud.githubusercontent.com/assets/3010449/24454358/3642f686-1494-11e7-95ce-f37c5d6c19c3.png)

[2017-03-29 13:51] abonas commented on #199
@moolitayer I believe that you're right. I can create a new label and assign to the relevant issues. How would you like this label to be called?

[2017-03-29 13:55] moolitayer commented on #199
api change ?

[2017-03-29 14:02] abonas commented on #199
But backwards incompatible changes can be also non related to api change, so perhaps something more generic would be better

[2017-03-31 19:31] jrafanie opened #242 "Upgrade webmock for ruby 2.4+ support"
The existing kubeclient tests fail on ruby 2.4.1 because of a change described here (fixed in webmock 2.3.1):
https://github.com/ManageIQ/manageiq/pull/13104/commits/cb5adc5ddaf68ea6a503452ace70fa841a7b4892

That commit just monkey patches webmock but we should upgrade to the fixed webmock if we can.

The errors look like:
[code]

After allowing for webmock >= 2.3.1,

[code]

the VCR cassettes nee

[2017-03-31 20:37] simon3z commented on #242
cc @moolitayer @cben

[2017-04-05 12:15] cben commented on #239
I wondered why I never see pretty-printing in productions VCRs recording kubeclient usage.
Turns out, k8s is being friendly to certain `User-Agent`s:
https://github.com/kubernetes/kubernetes/blob/8667d7c4f158/staging/src/k8s.io/apiserver/pkg/endpoints/handlers/negotiation/negotiate.go#L102
[code]

[2017-04-05 12:18] #239 closed

[2017-04-13 20:04] KnVerey commented on #238
I just ran into this as well. A debugging session showed that it was trying to POST to `/api/v1/secrets` whereas the correct path is `/api/v1/namespaces/test/secrets` since this is a namespaced resource. It [looks like](https://github.com/abonas/kubeclient/blob/0bc59f284ea2090ca0130ba4cd901bfbb84b5a7f/lib/kubeclient/common.rb#L145) the path is built based on whether the particular instance has set

[2017-04-14 14:38] simon3z commented on #238
@KnVerey @dictvm @moolitayer @cben then it seems that in `create_entity` we should check if a resource is namespaced (this information is in the API definition) and warn with a meaningful error if the `metadata.namespace` is missing.

[2017-04-18 10:00] cben commented on #237
@msufa You'd switched watching to use http.rb for Celluloid support — can you comment whether any of the alternatives here (especially httpclient) could work for your needs?
(BTW, do you know if we still need http.rb pegged to 0.9.8?  It's now at 2.2.1, with 3.x branch in the works. A dependency we can't upgrade is one more reason to consider a switch...)

----

Other requirements: #140 lists seve

[2017-04-18 10:47] cben commented on #227
You can use `kubectl --loglevel=11` to see the API requests and responses involved (the actual max level is more like 5, I never remember exactly so I like setting it up to 11 ;-).
I suppose it's using `/apis/autoscaling/v1/namespaces/{namespace}/horizontalpodautoscalers/{name}`?
https://kubernetes.io/docs/api-reference/v1.6/#horizontalpodautoscaler-v1-autoscaling

In theory kubeclient should now

[2017-04-18 10:50] cben commented on #218
`label_selector: 'foo=1'` works, right?  This would be just sugar?
There are 4 selector operators, `=`, `!=`, `in`, `notin`.  How would you represent the other types?

[2017-04-19 03:53] grosser commented on #218
these need to be string ... either turn hash into proper query or blow up with an ArgumentError ... just don't keep the current state of "weird unexpected behavior"

[2017-04-19 18:53] msufa commented on #237
@cben as noted in https://github.com/abonas/kubeclient/pull/204#issuecomment-295387474 Celluloid support should no longer be necessary, so you're free to go with whichever HTTP implementation you find works best for you :)

[2017-04-26 09:23] boeboe opened #245 "[Question] Retrieve cluster information"
Hi all,

I wonder if it is possible to fetch the cluster-info from the cluster the client is currently connected, in analogy with the following kubectl command?

`kubectl cluster-info`

The reason for this is that the downstream fluent-plugin-kubernetes_metadata_filter project does not enrich it's data with the cluster name, which is an important peace of information to differentiate logs within a

[2017-04-26 09:50] moolitayer commented on #245
@boeboe do you mean this one?
[code]

[2017-04-26 10:31] boeboe commented on #245
Hi @moolitayer ,

Good point there... there is no such a thing as a cluster-name concept in Kubernetes. I actually ment a way to uniquely identify in which cluster a certain pod is running, being the cluster master URL in this case.

Best regards,
Bart

[2017-04-26 10:49] moolitayer commented on #245
I see @boeboe, I'm actually dealing with the same problem.

A few interesting options for cluster identifier can be taken from the master node:
[code]
I like `System UUID` best for this purpose

Anyway currently we do not support cluster-info, and strangely I can't think of a way to figure out the master node using kubeclient. There is one possible hack which is `puts client.api_endpoint` but not

[2017-04-26 11:32] boeboe commented on #245
Hi @moolitayer

I have found an elegant way to make the downstream library mentioned also add the master_url information. This is sufficient for my use case to be able to distinguish multi-cluster log files.

REF: https://github.com/fabric8io/fluent-plugin-kubernetes_metadata_filter/pull/70

Thanks for your support and feed-back!
Bart

[2017-04-26 11:47] cben commented on #245
IIUC Kubernetes may have several masters for high-availability, and also API servers != masters.
https://kubernetes.io/docs/admin/high-availability/
Don't have concrete suggestions, but maybe this helps you figure out if the API url you talk to is acceptable as the id you want...

----

FWIW here is a dump of what `cluster-info` and `cluster-info dump` access:
[code]

[2017-04-26 12:36] moolitayer commented on #245
@boeboe do you assume there is only one api master and that it does not change?

[2017-04-26 18:48] boeboe commented on #245
@moolitayer

The API master have different DNS names, depending on the private data center they are residing at. This allows us to trace back from which cluster the logs are coming (we have a single ELK stack for both clusters).

[2017-05-03 15:10] #242 closed

[2017-05-12 12:52] simon3z commented on #201
As mentioned in a [previous comment](https://github.com/abonas/kubeclient/issues/201#issuecomment-289691846) let's track this in #240

[2017-05-12 12:52] #201 closed

[2017-06-06 14:32] ilackarms opened #250 "PoC: Parse Streaming JSON from large HTTP Response Bodies"
Response bodies on List objects returned by Kubernetes/Openshift can be very large; the current implementation of `Kubeclient::Client.get_entities` requires loading the entire response body into memory before deserializing.

This is a proposal to parse objects from lists (whose nesting level within the JSON body can always be predicted) from streaming HTTP response body in chunks rather than waiti

[2017-06-06 14:36] ilackarms commented on #250
@simon3z adding you to the thread

[2017-06-06 16:13] simon3z commented on #250
Thasnks @ilackarms !

[2017-06-07 21:47] cben opened #251 "RecursiveOpenStructs are heavy & slow"
[don't have time to measure soon but wanted to braindump...  cc @ilackarms @simon3z]

Kubeclient wraps all parsed JSONs with RecursiveOpenStructs.  ROS does several expensive things:
https://github.com/aetherknight/recursive-open-struct/blob/v1.0.4/lib/recursive_open_struct.rb#L69-L111
https://github.com/ruby/ruby/blob/v2_4_1/lib/ostruct.rb

- on construction: deep dup the hash  — can be mitigated

[2017-06-08 07:24] moolitayer commented on #251
Maybe we need an option that tells kubeclient to return JSON instead of ROS?

[2017-06-08 16:16] ilackarms commented on #251
can we test the actual size of the things we're returning from kubeclient with `ObjectSpace.memsize_of` ?

[2017-06-14 20:22] cben commented on #251
- https://github.com/aetherknight/recursive-open-struct/issues/19 shows neat trick telling JSON.parse which class to create.  Not clear if/how it helps us but wanted to remember it.

[2017-06-14 20:58] moolitayer commented on #251
Sorry for repeating... I've never understood why we need ROS.
`pod.name` instead of `pod["name"]`?? while lots of complicated stuff is happening behind the scenes to enable it

[2017-06-15 11:31] simon3z commented on #251
@moolitayer me neither. It's also problematic for those keys that have special symbols (e.g. `-`).
For me it's a :+1: to drop ROS, although we should carefully pick and balance what we're working on to improve performance, I have the feeling that the big part is still on the MIQ db side in our case.

[2017-06-15 21:51] grosser commented on #251
FYI related issue https://github.com/abonas/kubeclient/issues/197

[2017-06-15 21:59] jrafanie commented on #197
I'd imagine that would be hard because you'd have to support both configurations, dot notation and hash access...  Either way, if the performance is that awful, maybe we have no choice but use the simplest solution using hashes... although @moolitayer brings up a great point to consider how we're requesting data and parsing it.  If we can request it json or another format that's faster or uses sig

[2017-06-29 10:32] moolitayer commented on #237
see https://github.com/abonas/kubeclient/pull/254

[2017-06-29 22:06] ilackarms commented on #250
Here are updated measurements taken based off of #254

![](http://i.imgur.com/QjX9E8z.png)

![](http://i.imgur.com/LRrMiK2.png)

@agrare

[2017-07-05 08:16] cben commented on #237
We might also need websocket support at some point.  No idea what means in terms of gems.

It seems from docs websockets are already supported for watches (don't know if it gives any benefit over GET), and looks like they'll be required for certain types of bulk watching: https://github.com/kubernetes/community/pull/443

[2017-07-05 20:09] kamerblauwlicht commented on #234
When you delete a resource  (like a `deployment`) using `kubectl` it will pass the `propagationPolicy` query to make sure all the orphaned object will be deleted too. You can't specify the `propagationPolicy` with the `kubeclient` gem yet. We have the same issue. We will create PR to fix this.

code should be something like this:
`client.delete_deployment('name_of_your_deployment', 'namespace_of_y

[2017-07-05 20:13] kamerblauwlicht commented on #234
from the documentation:

`kubectl` also supports cascading deletion. To delete dependents automatically using kubectl, set --cascade to true. To orphan dependents, set --cascade to false. **The default value for --cascade is true.**

Here’s an example that orphans the dependents of a ReplicaSet:

`kubectl delete replicaset my-repset --cascade=false`

[2017-07-10 19:45] Ryan-Rose-Bose opened #256 "delete_namespaces("") deletes all namespaces"
Thankfully, it does it with --cascade false, but this seems like improper behavior. Is there any reason why an empty string corresponds to all for an entity function? Maybe this shouldn't be the delete default behavior.

[2017-07-11 07:54] moolitayer commented on #256
Does not sound like a desired behavior. Might be related to https://github.com/abonas/kubeclient/blob/1e7e4f4db3c3f79985651db298d60f6ca31be778/lib/kubeclient/common.rb#L302.

@Ryan-Rose-Bose can you add a reproducer?
I could not reproduce with master:
[code]

[2017-07-28 05:29] dElogics opened #259 "Cant pass authentication data to Client.new."
If I pass --
`k8scli = Client.new("http://10.0.5.1/api", "v1", authentication)`
/usr/local/lib64/ruby/gems/2.2.0/gems/kubeclient-2.4.0/lib/kubeclient/common.rb:56:in `initialize_client': unknown keyword: bearer_token (ArgumentError)

Where authentication is --
authentication = { :bearer_token => "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx" }

[2017-08-02 05:46] #259 closed

[2017-08-02 17:56] carbonin commented on #234
Would this same issue cause a ReplicationController to be left behind when removing a DeploymentConfig in OpenShift?

[2017-08-02 18:19] kamerblauwlicht commented on #234
@carbonin yes, this is the case. I'm going to work on this tomorrow.

[2017-08-02 20:54] carbonin commented on #234
Great! Thanks @kamerblauwlicht

[2017-08-19 06:42] pravi opened #260 "support webmock 3.0"
We'd like to use webmock 3.0 in debian, but some tests are failing.

[code]

[2017-08-21 09:22] moolitayer commented on #197
See https://github.com/abonas/kubeclient/pull/262, add option for raw and avoids ROS (and JSON parsing altogether)

[2017-08-21 09:22] moolitayer commented on #251
See https://github.com/abonas/kubeclient/pull/262, add option for raw and avoids ROS (and JSON parsing altogether)

[2017-08-22 11:50] moolitayer opened #263 "Extend get_entities interface with result_types and streaming VS async resonses"
Since we have a few[1][2] efforts going in the same direction that have implication on our external API
@cben @ilackarms and myself brainstormed to come up with
- minimal interface to allow most options
- implementation for the actual get_entities methods to accommodate most options
- what is the minimum we have to do now, what can we do later

### What do we want to allow?
Currently `get_entities

[2017-08-22 12:40] cben commented on #263
denominator

Are `get_entity/ies`, `update_entity` considered private or part of public
API?
They're not in README, but also aren't `private` methods.
I actually thought of them as the "core API" and `get_pods` etc as
convenience additions.

[2017-08-22 13:06] moolitayer commented on #263
Interesting @cben I never thought about it that way but it is valid - I guess for sure we need to maintain api in both the dynamically created get_pods and static get_entities. I don't remember seeing much usage of get_entities in example code snippets we got from users though.

[2017-08-22 14:28] grosser commented on #263
sounds good to me ... result_type sounds a bit clunky to me ... maybe `as:` or `format:` would read nicer ... but I guess they could be confused with other things ...

[2017-08-22 17:07] NickLaMuro commented on #263
I guess I am less in favor of this way of thinking.  I personally think we shouldn't be stream parsing when we aren't taking advantage of it, because otherwise you are just introducing a performance bottleneck on the client with every form (1 through 6) above.  While it makes for simpler code to implement, it means that we are always bottlenecked by the stream parser (even if it is noop-ing).

I g

[2017-08-23 11:25] moolitayer commented on #263
Good point. @ilackarms what do you think? I don't know what the numbers are it might be a good idea to measure. Sounds safer to only loop if we need to.

Sorry for slowing you down @NickLaMuro, my main concern is that the API is consistent and minimal.
I fear if we add :raw => true now, in a few month we will have to consider :ros => true, :json => true or have to change interface and support back

[2017-08-23 15:05] moolitayer commented on #263
Very clunky indeed ¯\_(ツ)_/¯. From your suggestions I liked `as`. It's more then output as it also has to do with the way we get the response (initially I suggested `output` like in kubectl but @ilackarms objected on these grounds if i'm not mistaken)

[2017-08-23 15:49] NickLaMuro commented on #263
@moolitayer Oh, I am definitely not blocked by any of this.  There is actually a pretty easy way for me to get around not having this place if necessary (I will link to it in another section).

As I mentioned, https://github.com/abonas/kubeclient/pull/262 was simply a stop gap solution, and I fully expect it to be completely re-worked to support what you have suggested in this proposal (to be fair

[2017-08-24 17:11] moolitayer commented on #263
Thanks @NickLaMuro, read it yesterday but couldn't response back then

I'm sure you know this and it's outside the point here but pruning openshift images can help with that.

Anyway I'm good to proceed with #262 with out any dependency, we can continue the discussion from there.

[2017-08-24 17:26] NickLaMuro commented on #263
Yup, for sure, though I don't see 20K images being something that could possibly exist in a large environment, even when pruning is happening.  But yes, there are other ways around the problem.

[2017-08-24 21:53] cben commented on #263
keep the connection to Openshift open while stream parsing the data during
the entire duration of committing the images data to the database, which in
most case takes probably 50x or more longer to do than just downloading and
parsing the data we get.

This is getting off-topic for kubeclient, but some scenarios (refresh
parser process all images, then drop most) would only need connection for
dur

[2017-08-30 14:52] grosser commented on #237
FYI faraday now has streaming https://github.com/lostisland/faraday/pull/604

[2017-09-04 14:09] DazWorrall opened #264 "Specify rest-client version"
While investigating some certificate verification errors, I discovered that we were inadvertently using rest-client v1.6.9, which doesn't support specifying custom certificate stores (this was added in [1.7.0](https://github.com/rest-client/rest-client/commit/f378ad154a6cc3a15c162552f6b1b08822885099)). Currently kubeclient [doesn't specify a rest-client version](https://github.com/abonas/kubeclien

[2017-09-04 14:11] simon3z commented on #264
@cben can you take a look at this?

[2017-09-04 14:23] cben commented on #264
If nobody objects, I'd like to bump to >=2.0 and drop some 1.x compatibility code around timeouts.

[2017-09-04 14:37] simon3z commented on #264
@moolitayer ?

[2017-09-04 15:09] moolitayer commented on #264
Sound good, 1.X hasn't been updated in over 2 years.
Also https://github.com/ManageIQ/manageiq/blob/master/Gemfile#L53

[2017-09-04 15:12] simon3z commented on #264
Who is taking this?

[2017-09-08 04:50] zeroDivisible opened #265 "Can't create a config map with nested properties."
Hi,

I'm just starting to use the library so this may as well be user error, but I can't seem to be able to create a config using `kubeclient`.

Normally, the map can be represented as an yml file:

[code]

I was using the following code to create it using `kubeclient`:

[code]

However, when trying to create the object with `kube_client.create_config_map(config_map)`, I'm getting:

[code]

[2017-09-08 05:15] zeroDivisible commented on #265
Just realized - the YAML file contains a string as nested properties, not a hash. 🤦‍♂️ Going to close the issue, it was an user error in the end.

[2017-09-08 05:15] #265 closed

[2017-09-11 19:15] zeroDivisible opened #266 "Passing extra query params when deleting an entity? (i.e. a deployment)"
Hi folks,

I had recently started using `kubeclient` as a library for abstracting communication with `Kubernetes` and I'm wondering - does this gem allow specifying extra query params when deleting an entity using Kube API?

The use case which I have is that I want to delete a deployment (`extensions/v1beta` API), but I want to pass the `propagationPolicy` param, otherwise, k8s leaves the ReplicaS

[2017-09-11 19:47] simon3z commented on #266
cc @moolitayer @cben

[2017-09-11 20:27] cben commented on #266
Also discussed on https://github.com/abonas/kubeclient/issues/234#issuecomment-313212608 (but I think not a dup, that issue had wider goal to delete all resources from a file?).

=> #255 is open PR to support delete with query params.  Last update there was "Please hold this PR. It isn't working against 1.7.1 Kubernetes. Looks like the API doesn't know how to handle the parameters anymore."
@zeroD

[2017-09-11 20:34] zeroDivisible commented on #266
Thanks for the updates @cben I'll give those a read and check the work carried there.

[2017-09-12 14:33] kamerblauwlicht commented on #266
@cben @zeroDivisible @simon3z @moolitayer

I'm going to work on the PR to make this work. Probably tomorrow there will be a fix using a body payload instead of query parameters because of the depreciation in `1.7.x`

[2017-09-12 14:36] kamerblauwlicht commented on #266
REFERENCE: https://kubernetes.io/docs/api-reference/v1.7/#deleteoptions-v1-meta

[2017-09-13 10:23] kamerblauwlicht commented on #266
implementation done. check my PR.

@cben @zeroDivisible @simon3z @moolitayer

[2017-09-13 17:12] grosser opened #268 "Allow passing headers per request"
Atm I'm trying to update statefulset so I need to do this hack-around which is a bit ugly ...

[code]

[2017-09-14 16:39] moolitayer commented on #268
We have patch entity, would that serve your use case @grosser ?
[code]

[2017-09-14 16:48] grosser commented on #268
I need to change the `Content-Type` ... I'm using patch_entity already

[2017-09-14 17:46] moolitayer commented on #268
Oh right, so it's ` 'Content-Type' => 'application/strategic-merge-patch+json'` vs `'application/json-patch+json'`? Can you explain what is the difference? I think it was discussed in https://github.com/abonas/kubeclient/pull/161 but don't remember the distinction.

[2017-09-14 17:52] grosser commented on #268
idk ... was following an example and the default one did not work ... have not looked any deeper :D

[2017-09-18 04:43] cben commented on #264
#269

[2017-09-18 21:01] cben commented on #263
Thanks!  That looks good enough.
If we do want to something prettier, I'm sure we could contribute to
json-streamer rather than inventing a new wheel.

Not sure JSONpath would be ideal.  It's both too complex (a mini language
to parse) and not the most flexible.
I was thinking of ruby callback that gets current path - array of strings /
indexes.  And the aggregator is very close to that!

[2017-09-19 22:40] zeroDivisible commented on #266
A bit late to the party and I didn't do a full verification, but following the changes in the README, I was able to successfully verify that the code from @kamerblauwlicht 's  PR does indeed trigger the recursive delete (at least in my scenario). 👍 from me.

[2017-09-20 10:51] kamerblauwlicht commented on #266
@zeroDivisible good to hear. we have my code running in production ;-) and all good. hope we can merge the code soon.

[2017-10-11 14:38] #264 closed

[2017-10-30 23:11] KnVerey commented on #264
@cben @simon3z @moolitayer Could you please release a version with this fix in it? It doesn't seem to be in 2.5.1.

[2017-10-31 08:40] moolitayer commented on #264
@simon3z or @abonas have the permissions to do that

[2017-10-31 11:29] cben commented on #264
@KnVerey all that #269 did was bump the dependency and drop some code that tried to support old rest-client.  You can just use an existing kubeclient release and add dependency on rest-client version(s) that are safe for you.

Of course, it'll be nicer for kubeclient to specify this (hence this issue/fix).
But I'm not sure it's polite to significantly bump dependencies in minor kubeclient release

[2017-11-02 21:13] grosser opened #273 "watching stops without any notification"
Already saw multiple times that the watcher just stops ... without crashing / notifying ...
Idk how to reproduce that, but it happens regularly ... and it does not happen for kube-proxy so either there is a bug in this library or kube-proxy go-lang code has some smart disconnect handling

atm using below and calling .restart every x minutes

[code]

idk how to fix/debug this further but wanted to

[2017-11-02 21:57] simon3z commented on #273
cc @cben @agrare @moolitayer

[2017-11-02 22:35] cben opened #274 "http gem 2.x doesn't officially support ruby 2.4"
http gem 2-x-stable branch](https://github.com/httprb/http/tree/2-x-stable, which kubeclient is on, *officially* supports MRI 2.0–2.3, no 2.4.
In principle, we should either upgrade to [http 3-x-stable](https://github.com/httprb/http/tree/3-x-stable) which supports 2.2–2.4, or contribute 2.4 support to http gem...

Kubeclient's tests do pass on MRI 2.4, but they're based on webmock, I'm not sure t

[2017-11-02 22:35] cben commented on #273
@grosser when you say "just stops" do you mean `.each { block... }` returns at some point?
or keeps running but never calls the block?

Which kubernetes version are you connecting to?  And which ruby you're running?

don't know if related but I run `oc get pod --watch` yesterday and noticed it just exited after some time.

[2017-11-02 22:37] grosser commented on #273
idk if the block stops or it just idles ... I'll try to find out ... if
that's the problem then it's easy to fix :D

On Thu, Nov 2, 2017 at 3:35 PM, Beni Cherniavsky-Paskin <
notifications@github.com> wrote:

[2017-11-03 00:57] grosser commented on #274
I'm using it on 2.4 without any issues in a lot of apps ...

[2017-11-03 12:17] simon3z commented on #273
Actually I am not sure we want to add this in the lib. How would you know that there was a disconnection? (Maybe some message was lost, etc.). I would keep this as is.

[2017-11-03 12:20] simon3z commented on #264
+1 to release this in 3.0.

No plans for a 3.0 release yet. I know there are other PRs that we would like to merge before releasing that.

If you want you can still consume the master using the git `:ref` or `:branch` in your `Gemfile`.

[2017-11-03 14:52] grosser commented on #273
then we should call that out in the readme ... "watcher will stop when it
is disconnected, run it in a loop to make sure it stays running" or so

On Fri, Nov 3, 2017 at 5:17 AM, Federico Simoncelli <
notifications@github.com> wrote:

[2017-11-06 10:12] simon3z commented on #273
Definitely :+1:

[2017-11-09 09:53] wmuizelaar opened #276 "Kubernetes 403 forbidden messages could be more verbose"
Hi,

I was trying to use the kubeclient module to connect to a kubernetes cluster, but the credentials I used in my kube-config didn't have sufficient rights within kubernetes. Logging in worked, but requesting the nodes failed. The error-message I got when trying this was the following:

[code]

When I tested these credentials with other tooling, I got a more specific error message:
User "system:

[2017-11-09 09:54] simon3z commented on #276
cc @moolitayer @cben

[2017-11-10 01:41] chino opened #277 "$no_proxy support?"
Normally proxy settings are automatically picked up via $http(s)_proxy env vars and also importantly $no_proxy which determines when NOT to use the proxy.  Ruby's core http libs already support all of this automatically.

I see some scattered notes regarding env vars in the rest-client lib:

https://github.com/rest-client/rest-client#proxy
https://github.com/rest-client/rest-client/blob/master/spe

[2017-11-15 12:33] cben commented on #274
OK, it's not in their 2-x-stable README, but ruby 2.4 is tested in 2-x-stable travis, since Jan 2017 https://github.com/httprb/http/pull/386.

[2017-11-15 12:33] #274 closed

[2017-11-15 18:59] Eric-Fontana-Bose commented on #273
I wrote a service which watches namespaces, for the purpose of emitting a continuous stream of events so a person (the next day) can see when his pod restarted, and for what reason, my complaint here is that yes, mine watch loop is in an infinite loop, but when the loop starts again, you end up getting the same data you previously emitted because they overlap, this stinks, to work around it, I'm g

[2017-11-15 19:14] grosser commented on #273
- ignore first events after restart ... not perfect but maybe better if missing an event is not that critical
[code]

 - store the timestamp of the last received event and reject all before that on restart

[2017-11-16 14:11] moolitayer commented on #273
I've seen this happening with curl after little over an hour in kubernetes v1.7.6+a08f5eeb62
[code]
This suggests this is caused by a k8s issue.

[2017-11-16 14:48] moolitayer commented on #273
@agrare @ladas FYI the pod watch in ManageIQ will probably encounter this issue and restart the collection worker(which sounds asymptomatic)

[2017-11-16 14:51] agrare commented on #273
Thanks @moolitayer, we're okay because if the thread exits it will be restarted and currently we don't process the initial list of pods.

This is a little concerning when we move to using watches as the primary mechanism for refresh because then we will be processing the entire initial set every hour.  Basically the same scheduled full refresh we do today :worried:

[2017-11-28 09:09] abonas commented on #266
resolved in #267

[2017-11-28 09:12] #266 closed

[2017-12-06 08:08] waxiangzi opened #278 "no get_hpa support?"
try:
cli.get_hpa ,
return NoMethodError: undefined method `get_hpa' for #<Kubeclient::Client:0x007f982dc20570>
---
2.4.0 :022 > cli.methods.grep(/get_/)
 => [:get_bindings, :get_binding, :get_component_statuses, :get_component_status, :get_config_maps, :get_config_map, :get_endpoints, :get_endpoint, :get_events, :get_event, :get_limit_ranges, :get_limit_range, :get_namespaces, :get_namespace, :get

[2017-12-06 09:06] moolitayer commented on #278
This object recently moved, see https://github.com/kubernetes/kubernetes/pull/35782

Try to get it using the appropriate [group](https://github.com/abonas/kubeclient#usage) according to the Kubernetes version you are using
[code]

OR
[code]

your client is for `api/v1`

[2018-01-08 20:18] jeremywadsack opened #281 "A new release and a CHANGELOG?"
The releases on `rubygems` are confusing.

[code]

Version 2.5.1 says it was released on 2017-10-12, but the [tag shows](https://github.com/abonas/kubeclient/tree/v2.5.1) the [latest commit](https://github.com/abonas/kubeclient/commit/c3783eac3a2a2357ea98c6fb90c71cbe437a42fb) was 2017-05-09.

Lacking a `CHANGELOG` or `HISTORY` document, it's hard to understand what changes are in each version and

[2018-01-09 05:33] grosser opened #282 "support as: :raw for watch"
would accept a PR ?
same as https://github.com/abonas/kubeclient/pull/271
/cc @simon3z @stefanmb @cben

[2018-01-09 10:47] moolitayer commented on #281
@jeremywadsack our gem release process is undergoing change.
We will take all feedback you can give under consideration and hopefully draft some rules for release related procedures.

We plan a new release, hope I can update on that soon.

CC @cben

[2018-01-09 11:00] cben commented on #282
Sounds good to me.

[2018-01-09 11:28] cben commented on #281
One question I'd love feedback on is how useful a "stable" release branch with cherrypicks is at all?
A lot of time has passed since kubeclient had a release from master (and I agree it's high time to get all the changes out).  The default mode was "release when asked, with only the requested feature cherrypicked".
I wonder if default mode could switch to "release from master", with branching only

[2018-01-09 12:08] moolitayer commented on #282
was included in https://github.com/abonas/kubeclient/issues/263
Related to https://github.com/abonas/kubeclient/pull/254

[2018-01-09 13:57] cben commented on #281
Yeah, that last commit is confusing.

Too bad GitHub UI doesn't show CommitDate when != AuthorDate.  If you look at history prior to that commit https://github.com/abonas/kubeclient/commits/v2.5.1 you'll see the merged commits are recent.

[2018-01-10 09:16] cben opened #283 "Support API chunking"
k8s recently finally got response chunking (kinda pagination, of a consistent snapshot at single resourceVersion!):
https://github.com/kubernetes/community/pull/896 => https://github.com/kubernetes/community/blob/master/contributors/design-proposals/api-machinery/api-chunking.md
https://github.com/kubernetes/features/issues/365
https://kubernetes.io/docs/reference/using-api/api-concepts/

This has

[2018-01-10 16:16] cben commented on #283
Seems this is supported starting with kubernetes 1.8 API.

[2018-01-10 20:03] grosser opened #284 "dealing with api/v1 vs apis/extensions/v1beta1 is annoying since they are split between url and version"
url should be everything without the /api ... and version should be either `api/v1` or maybe just `v1 / extensions/v1beta1` and then smartly detect if it should be `api` or `apis`

[2018-01-11 19:47] cben commented on #284
Right!  Here's our similar code, also spliting on `/`:
https://github.com/ManageIQ/manageiq-providers-openshift/blob/93009fcb167/app/models/manageiq/providers/openshift/container_manager_mixin.rb#L40-L52

1. Any idea if this can be backward compatible?
2. Does this interact with #208?  I this would be a first step to make multi-version use by multiple Client instances a tiny bit less annoying, and

[2018-01-11 19:56] grosser commented on #284
I'd love to have multi-version in a single client too, so you can pass the
version as an option, but that can be step 2 ...
to be backwards compatible it could just blow up if the url has a path or
store the url path as `version_base` and then not override it when present

On Thu, Jan 11, 2018 at 11:47 AM, Beni Cherniavsky-Paskin <
notifications@github.com> wrote:

[2018-01-15 14:09] #282 closed

[2018-01-15 14:21] cben commented on #281
Interim update:
We started going over all PRs that are on `master` and not yet released (== on `v2.x` branch).  There are quite a lot, and a few change public API.  So:

- We should release a 2.6 with all backward-compatible changes.
- We'll then look at releasing the remainder as 3.0 "soonish", but there are several more things that were discussed for 3.0 (#199) that might be worth sneaking in...

[2018-01-15 16:58] jeremywadsack commented on #281
@cben That sounds great. Thanks for all the work on this (to the whole team).

To your earlier question (that I somehow missed), I'm not sure I understand what you're asking, but I'm preferential to regular releases, with semantic versioning. If I don't want to address breaking changes on my end, I can always pin the dependency in my `.gemspec` or `Gemfile`. Backporting bugfixes is nice, although

[2018-01-23 08:56] moolitayer commented on #196
https://github.com/abonas/kubeclient/pull/290

[2018-01-23 10:15] cben commented on #240
I propose for kubeclient 3, we solve this by adding Kubeclient::SSLError which will wrap both OpenSSL::SSL::SSLError and RestClient::SSLCertificateNotVerified.
There is a tradeoff with wrapping exceptions — makes easier to recognize errors that passed through us, but harder to know what exactly they were — but IMHO this would make kubeclient nicer to use on the balance.

* Should the new Kubeclien

[2018-01-23 10:27] cben commented on #240
@grosser any opinion/advice?  I see we can learn from your workarounds...

- https://github.com/zendesk/samson/pull/2388/files#diff-cd8b4517098ba133e33da78bca46c6bdR14 — users also have to deal with os-level network errors.  You also catch ECONNREFUSED there.  And we saw EBADF in #280 (though that was internally caused, now we catch it).
  I don't think we want to wrap OS errors.  I wouldn't sugge

[2018-01-23 16:07] grosser commented on #240
rescuing all and having error_code nil for ssl/ECONNREFUSED could be good
... the error.cause will always point to the original

On Tue, Jan 23, 2018 at 2:27 AM, Beni Cherniavsky-Paskin <
notifications@github.com> wrote:

[2018-01-24 17:02] #278 closed

[2018-01-25 13:48] moolitayer commented on #199
I sent PRs for the items mentioned here:
- https://github.com/abonas/kubeclient/pull/292
- https://github.com/abonas/kubeclient/pull/293
- https://github.com/abonas/kubeclient/pull/290

And some fixes:
- https://github.com/abonas/kubeclient/pull/288
- https://github.com/abonas/kubeclient/pull/291
- https://github.com/abonas/kubeclient/pull/294

I did not tackle #240 at this time. We need something

[2018-01-31 11:33] cben commented on #263
An update to contradict [previous comments](https://github.com/abonas/kubeclient/issues/263#issuecomment-324013580):
We've decided with @moolitayer that `get_entities`, `update_entity` etc. methods are PRIVATE as long as they're UNDOCUMENTED.  E.g. we're going to change them in #292 and don't even think we have to mention that.
Everything undocumented is considered internal API, doesn't matter if

[2018-01-31 12:13] #198 closed

[2018-02-01 08:54] cben commented on #112
I've tried using this generator now and the results are bad (though long and impressive):
https://github.com/cben/kubeclient/blob/github_changelog_generator/CHANGELOG.md

- PRs are mis-attributed to wrong release!
  eg. it put "Support ruby 2.4 #247 (cben)" under v2.4.0, but it is NOT in that release.
  I suspect assumes linear history and looks at *time* PR was merged ignoring which branch it lan

[2018-02-01 08:54] #112 closed

[2018-02-01 10:37] cben commented on #259
For future record why this was closed: the right way to pass this is
`Client.new("http://10.0.5.1/api", "v1", auth_options: authentication)`

[2018-02-01 11:01] cben commented on #281
After some indecision on #289 on small vs large compatible release, we settled on releasing master as 3.0 first.
See https://github.com/cben/kubeclient/blob/changelog/CHANGELOG.md (#297) for draft changelog.

[2018-02-01 11:09] cben commented on #281
If anyone has specific preferences on what you want in 2.x release(s), please share.

[2018-02-01 13:51] #196 closed

[2018-02-04 11:26] cben commented on #281
tagged & released v3.0.0 :tada:

[2018-02-04 13:56] cben commented on #281
Also working on small v2.5.2 release: #287, #301, #302.

The fixes we'll include in v2.5.2:
- Watch results are now `RecursiveOpenStruct` inside arrays too (#279).
- Fixed watch `.finish` sometimes caused `Errno::EBADF` exception from the reading loop (#280).
- Easing dependency version (#287, #301).

I'm shelving the large 2.6 attempt (#289) for now.
If anyone wants additional 2.x release, let us

[2018-02-04 15:33] cben commented on #281
tagged & released v2.5.2 :tada:

[2018-02-04 15:34] #281 closed

[2018-02-05 09:02] cben commented on #206
I believe this is solved.
- `http` was bumped to `~> 2.2.2` on master (#253), released in kubeclient 3.0.0
- `http` was bumped to 1.x or 2.x on kubclient 2.5.2 (#287).  That was actually a mistake, meant to allow 0.9.8 in the stable release, can fix if anyone speaks up.

[2018-02-05 09:02] #206 closed

[2018-02-18 13:39] cben opened #307 ".get_endpoints.kind == "Endpoint" vs .get_endpoint(...).kind == "Endpoints""
When getting a single entity, we return .kind as-is:
[code]

For collections, k8s does not return individual .kind in each item, only a global list kind.
We do some magic to convert that to a singular .kind, without the `List`.
Somewhat confusingly, we do this on the EntityList pseudo-array, no .kind on individual item:
[code]

The **immediate bug** here is "Endpoints" vs "Endpoint" and  "Security

[2018-03-01 22:30] ragurney opened #309 "Add client.version to check server version"
It would be nice to have a method to check the server version, something like:
[code]
I could make a PR for this if that's something you'd want to support?

[2018-03-02 19:38] Eric-Fontana-Bose opened #310 "how to enable verbose logging?"
Is there some way to enable verbose logging to see the URLs being generated along with
responses?

[2018-03-02 22:22] stormbeta opened #311 "Allow setting merge strategy on PATCH operations"
The client is currently hard coded to use the strategic merge patch mode, which is also the Kubernetes default. Most of the time this is what you want, but not always.

For example, if you need to replace an array (e.g. Service.spec.ports[]) instead of just adding a new element to it, you need to use 'merge' instead of 'strategic'. This aligns with the `--type` parameter passed to `kubectl patch`.

[2018-03-04 09:09] cben commented on #310
Simplest is using RestClient's builtin logging:
https://stackoverflow.com/questions/23463465/how-to-debug-display-request-sent-using-restclient
This will not cover watch connections because these use http gem rather
than rest-client.

You can also try httplog gem: https://github.com/trusche/httplog (it does
monkey-patching, so must to required after kubeclient).
This should cover both (it doesnt h

[2018-03-04 10:15] cben commented on #309
PRs always welcome :-)

Testing `oc version --loglevel=11` on openshift, I see it hitting two URLs:

GET https://$MASTER:8443/version
[code]
GET https://$MASTER:8443/version/openshift
[code]
(source: https://github.com/openshift/origin/blob/v3.9.0-alpha.4/pkg/oc/cli/cmd/version.go#L145-L171)

- Do you see a way to expose multiple /version URLs?
  Both paths are listed when you GET `/` (see dump be

[2018-03-04 10:31] cben commented on #311
closing as dup of #268, will discuss there.

[2018-03-04 10:31] #311 closed

[2018-03-04 10:52] cben opened #312 "Harmonize positional vs keyword namespace: args"
In some method we take namespace as optional positional arg, in some as optional keyword `namespace:` arg.  This is error-prone, and doesn't scale as we want to add more optional args.  (It'd be especially awkward if you'd need to pass dummy nil namespace when dealing with a non-namespaced entity such as nodes...)

Long-term I'd like to support keyword `namespace:` everywhere, initially still supp

[2018-03-04 10:54] cben commented on #268
doc: https://kubernetes.io/docs/tasks/run-application/update-api-object-kubectl-patch/

Are there other use cases than patch to allow direct setting of headers?
My instinct is we're clearly missing functionality in `patch_*()` and should add it, and defer the general escape hatch until proven necessary.

Current signature is `patch_foo(name, patch, namespace = nil)`.  It's awkward that we have nam

[2018-03-04 11:03] cben commented on #234
IIUC, this has been solved by #267?  Closing, please reopen if I missed something.

[2018-03-04 11:04] #234 closed

[2018-03-04 11:17] cben commented on #260
since #242, kubeclient depends on webmock ~> 3.0.1.
This has landed in kubeclient 3.0.0 but not in 2.5.2.  This implies 2.x branch isn't tested on ruby 2.4, 2.5. It's definitely possible to backport this to a 2.x release, if desired.
Closing, but please reopen (or open new issues) if there is anything we can help for packaging :heart:

I see you're maintainer of https://packages.debian.org/sid/rub

[2018-03-04 11:17] #260 closed

[2018-03-04 11:33] cben commented on #277
Thanks.  Can you help us map out the current situation?  A PR with just tests for current kubeclient behavior would be wonderful (but manual "this worked and this didn't" is welcome too).

Note that kubeclient uses 2 libs — http for watches and rest-client for all other requests.  rest-client is based on ruby's core Net::HTTP, http gem isn't.
IIUC the rest-client test you link, it tests that rest-

[2018-03-04 11:52] cben commented on #277
Also, is current kubeclient API adequate if you're willing to parse env vars yourself?
https://github.com/abonas/kubeclient#proxies — you can set `http_proxy_uri` but can't specify a no_proxy set of hosts, right?
Ooh, this seems useful: https://ruby-doc.org/stdlib-2.2.0/libdoc/uri/rdoc/URI/Generic.html#method-i-find_proxy

Are these env vars standardized anywhere?  I found https://wiki.archlinux.o

[2018-03-04 11:58] cben commented on #224
@hridyeshpant ping, is this still relevant?

If `json` holds a JSON string, in step 3 does doing `Kubeclient::Resource.new(JSON.parse(json))` instead of `Kubeclient::Resource.new(json)` work?

[2018-03-04 12:00] cben commented on #227
Hi, is this still a problem?  Have you tried with an API group?

[2018-03-04 12:04] cben commented on #226
Can you show kubectl command to check this, and output with `kubectl --loglevel=8` (be sure to remove Authorization headers)?

[2018-03-04 12:08] cben commented on #163
Done in #244 (on master & 2.4.0 via #246).

[2018-03-04 12:08] #163 closed

[2018-03-04 12:26] cben commented on #197
I think your #306 `as: :parsed` & `as: :parsed_symbolized` covers this.  Can this be closed?

[2018-03-04 12:28] cben commented on #251
Covered by #262 `as: :raw`, #306 `as: :parsed` & `as: :parsed_symbolized`, and #299 allowing to set `as:` for whole client.

[2018-03-04 12:29] #251 closed

[2018-03-04 12:34] cben commented on #309
See also #170 that discussed /healthz (with no clear conclusion).

[2018-03-04 12:36] cben commented on #203
@andrewkrug did this work for you?  Can this be closed?

[2018-03-04 12:40] Eric-Fontana-Bose commented on #310
Thanks will do

[2018-03-04 13:27] cben commented on #167
By default namespace, did you mean
- the namespace literally named `default`?
- the "current" `context.namespace` kubectl uses from kubeconfig file, as set by [`kubectl config set-context ... --namespace`](https://kubernetes.io/docs/concepts/overview/working-with-objects/namespaces/#setting-the-namespace-preference) or `oc project`?
  The latter can now be parsed thanks to #308, you still need to

[2018-03-04 16:03] #197 closed

[2018-03-04 16:06] grosser commented on #167
context.namespace
... passing empty string is silly anyway ... closing since I've not run into that again

[2018-03-04 16:06] #167 closed

[2018-03-05 17:25] stormbeta commented on #268
@cben That awkwardness with the method signature is why I didn't try to add it in a PR myself - wasn't sure what the best way to handle it would be.

It's also worth noting that some CustomResourceDefinitions may require this if they don't support strategic merge.

[2018-03-06 05:52] pravi commented on #260
@cben thanks! I'm happy to see your interest in debian packaging (which is a rare thing these days of language specific package managers being the exclusive channel for many developers).

The only package that depends on ruby-kubeclient is gitlab which still requires ~> 2.2.0. [I have asked them to update](https://gitlab.com/gitlab-org/gitlab-ce/issues/43911) and when they do we'll update the pack

[2018-04-03 18:55] stormbeta opened #314 "authorization.k8s.io access review methods don't work"
Reference: https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.10/#subjectaccessreview-v1-authorization

The entity methods are generated from the the API discovery, but they don't work because these endpoints are weird: they're POST operations that require a JSON object to be passed, but do not operate on a named (or persistent) entity object and the URL only exists in the plural for

[2018-04-04 10:39] moolitayer commented on #314
Thanks @stormbeta
This seems to work:
[code]
Create verbs are normally a post with payload to the plural name of the resource.

closing issue, we can reopen if there is need

BTW this makes me think that we should start looking at the verbs available for a given resource and only define the relevant methods to avoid defining verbs that do not exists. For example:
[code]
Vs
[code]

[2018-04-24 07:29] jhernand opened #317 "Can't use proxy password with percent encoded characters"
[RFC 3986](https://tools.ietf.org/html/rfc3986#section-2.2) defines a set of _reserved_ characters that can't appear directly in URL components like the _userinfo_. It also defines the _percent encoding_ mechanism to escape them when needed. That means that an URI containing characters like `$` or `?` in the userinfo need to be encoded. For example, if the user is `myuser` and the password is `$?x

[2018-04-24 10:47] cben commented on #317
I believe the same also applies to percent-encoded username.
RFC doesn't talk of password specifically; AFAICT it says percent encoding applies to any component, and syntax for whole whole userinfo field clearly shows percent encoding is applicable:
[code]
username encoding does happen in the wild for example when using email as username <https://stackoverflow.com/questions/10050877/url-username-w

[2018-04-24 11:09] moolitayer commented on #317
I think if we agree on this fix, we will have to do it in kubeclient anyway, because getting it into rest-client stable version will take time. I think we should, @cben WDYT?

Can such a fix introduce a problem? i.e someone has a proxy with this password "%". he previously could construct a client with proxy: `http://user:%@...`. The user could still make it work by using escaped %: `http://user:%

[2018-04-24 11:38] cben commented on #317
I don't think backward compatibility is a blocker.  That's the beauty of RFCs :-)  If we're confident we understood the RFC right (I'm satisfied), then `http://user:%ab@...` is simply wrong URL for the password `%ab`.  It's just a bug, we fix it and document the change.

Do you see any sane way for kubeclient to fix non-watch methods before rest-client itself is fixed?

Looks like we can easily fi

[2018-04-26 15:53] dirkd opened #318 "::Kubeclient::Client::handle_uri assumes k8s api mounted at / for paths longer than 2 components"
Hi,

when trying to use kubeclient (v3.0.0 via Gitlab's Kubernetes integration) with a Rancher k8s cluster (both in v1.6 and v2) there's a problem regarding kubeclients assumptions (rancher/rancher#13058).

The following code assumes that as soon as there's more than two path components the second one (third entry in components after splitting) has to be the k8s api_group the user wants set:

http

[2018-04-26 19:25] cben commented on #310
Closing, feel free to reopen or open a new one if you have more questions.

[2018-04-26 19:25] #310 closed

[2018-04-26 22:38] cben commented on #318
Great find!
I think this is strongly related to  #284 and we could to solve both at once.
Currently user gives kubeclient 2 parts e.g.: `'https://host:port/apis/batch', 'v1'` (to take one API group as a running example)
Unfortunately that's neither a convenient way for user to split it (this is what #284 argues) — **nor for kubeclient**!

Looking at the code, what kubeclient needs in addition to t

[2018-04-27 08:40] cben commented on #210
I believe this is covered by just merged #213 :fireworks:

[2018-04-29 13:52] cben commented on #318
Additionally, I'm not sure extracting apiVersion from the last path segment works at all, apparently apiVersion != groupVersion ?

[code]

[2018-05-05 15:04] pravi opened #320 "update http gem to ~> 3.3"
Major breaking change is drop in support for ruby 2.0 and 2.1 https://github.com/httprb/http/blob/master/CHANGES.md and minimum version of ruby tested by kubeclient in 2.2.

[2018-05-06 18:32] juwalter commented on #318
Ran into the same issue as @dirkd  many thanks to suggestion re: nginx proxy at https://github.com/rancher/rancher/issues/13058#issuecomment-384611920 got it working (Rancher 1.6; Gitlab 10.7)

[2018-05-06 18:34] juwalter commented on #318
(btw - helm.sh has it working (and kubectl obviously)  - not sure what they are doing - but I guess it might be a safe bet to follow their lead)

[2018-05-10 18:58] lambertjosh opened #322 "proxy_url generating invalid URLs for k8s 1.10"
It looks like kubeclient proxy_url may be generating an incorrect or out of date proxy URL format.

Right now for services, it outputs as [documented in the README](https://github.com/abonas/kubeclient#get-a-proxy-url) this format: `/api/v1/proxy/namespaces/ns/services/srvname:srvportname`

However the [Kubernetes documentation](https://kubernetes.io/docs/tasks/access-application-cluster/access-cl

[2018-05-10 19:50] lambertjosh commented on #322
I was peeking at the code, and it seems like not only does services support the new scheme it may no longer support the old scheme?

https://github.com/abonas/kubeclient/blob/master/lib/kubeclient/common.rb#L402

[2018-05-10 19:51] lambertjosh commented on #322
Looks like it was removed in 1.10 here: https://github.com/kubernetes/kubernetes/pull/59884

[2018-05-14 15:25] Stono opened #324 "uninitialized constant Kubeclient::GoogleApplicationDefaultCredentials"
Hey:

[code]

Gives me:

[code]

Gemfile:

[code]

any ideas?

[2018-05-15 09:02] moolitayer commented on #324
As far as I can tell we have no released version with the feature you are using.

@Stono are you looking to have this feature included in a release?

[2018-05-15 19:31] Stono opened #325 "Posting raw yaml or json to the api"
Hey,
I'm just wondering if there is any way to post the raw json or yaml kubernetes spec's that I already have via this gem?  I have some existing yaml files that I don't really want to rewrite, and just want to read them from disk and use this gem to post them off.

eg, how do I turn `resource_json = YAML.load_file('echo-server/kubernetes/service.yaml').to_h` into `Kubeclient::Resource`?

instead

[2018-05-15 19:38] moolitayer commented on #324
The README at github reflects master. If you want to view the README for the version you are using it's best to view the one distributed with the gem.

Anyway I understand a new release is required. I will try to get to that tomorrow. Please bug me if you get no response.
cc @cben

[2018-05-15 19:44] Stono commented on #324
Ah that makes sense, thank you :-) I've worked around it for now so no rush:

[code]

[2018-05-15 19:47] Stono commented on #325
Sussed it by reading https://github.com/abonas/kubeclient/issues/187

`resource = Kubeclient::Resource.new(YAML.load_file('echo-server/kubernetes/service.yaml'))

[2018-05-15 19:47] #325 closed

[2018-05-15 21:58] cben commented on #325
Note that it gets trickier if apiVersion in the file may differ.
 Currently you'd need to construct a Kubeclient appropriately (there
several issues to improve this)

[2018-05-25 14:24] stiller-leser opened #329 "Can *.yml files be deployed?"
Hi everybody,

I am aware that this goes against the purpose of this gem, but I am curious if I could use this gem to deploy yml-files to a Kubernetes cluster (basically `kubectl create -f deployment.yml`) since I am editing these files in ruby before anyways and really like the framework this gem offers.

Thanks ahead,
stiller-leser

[2018-05-26 19:10] cben opened #330 "Define only methods available according to discovery `verbs`"
[extracting from https://github.com/abonas/kubeclient/issues/314#issuecomment-378556841]

we should start looking at the verbs available for a given resource and only define the relevant methods to avoid defining verbs that do not exists. For example:
[code]
Vs
[code]

Of course assuming `verbs` is available and accurate for k8s versions we support, need to confirm...

[2018-05-26 19:12] cben commented on #314
Closing per https://github.com/abonas/kubeclient/issues/314#issuecomment-378556841 (the crucial trick was that POST == `create_...` in kubeclient).
Extracted looking at `verbs` idea to #330.

[2018-05-26 19:12] #314 closed

[2018-05-27 09:18] cben commented on #203
[closing old inactive question issues.  feel free to reopen/open a new one.]

[2018-05-27 09:18] #203 closed

[2018-05-27 13:32] cben commented on #324
We just released 3.1.0 that should include this (changelog: #328).  Please test.

[2018-05-27 13:47] cben opened #332 "Expose {create,delete,...}_entity methods to manipulate objects of dynamic kind"
If you have objects whose `kind` you don't know ahead of time, you can't used discovery-created methods like `create_service`, `get_services`.
Computing the method name e.g. `client.send("get_#{kind}", ...)` is messy, especially if you need the plural name :-(

We already have generic methods: `get_entity`, `get_entities`, `create_entity`, `update_entity`, `patch_entity`, `delete_entity`, `watch_e

[2018-05-27 14:11] cben commented on #329
Yes and no :-)
Easiest case is something like this:
[code]
- kubeclient currently disregards `kind` and `apiVersion` inside the Kubeclient::Resource (#208).
  - if you don't know ahead of time `kind` will be "deployment", you may need another method than "create_deployment".  (hint: there is generic `create_entity` but it's not public yet — #332 — please speak up there if you want to use it!)
  -

[2018-05-27 14:17] cben commented on #224
[closing old inactive question issues.  feel free to reopen/open a new one.]

[2018-05-27 14:17] #224 closed

[2018-05-27 14:53] cben commented on #187
Now that we have `as: :parsed_symbolized` and `as: :parsed` (#306), kubeclient `get_foo` may give you data that isn't a `Kubeclient::Resource`, and in the latter case that you can't write back with `create_foo`/`update_foo`.
Also, now that we use a single `Kubeclient::Resource` class everywhere, there's less value in forcing users to wrap everything in it...

=> I don't have bandwidth to work on t

[2018-05-27 15:57] cben commented on #227
Works for me, details below.
You're far from the first to ask how to use a non-default API group.
If you see a way to improve README so this would be clearer, please send a PR or just suggestions!

----

[code]
Then in ruby:
[code]

[code]

Mimicking `kubectl autoscale` would require `create_horizontal_pod_autoscaler` with proper content yourself.

Note this object now also has v2beta1 version "wh

[2018-05-27 16:17] grosser commented on #187
would prefer telling the user what they do wrong instead of doing work behind their back
-> call .to_h on what they give in and check if first key is a symbol, otherwise ArgumentError

[2018-05-27 18:43] cben commented on #187
hmm, good idea.

[2018-05-31 13:12] Jul13nT commented on #318
Any update on this issue ? It prevents me using Gitlab's Kubernetes integration with my cluster 😞 I don't have enough knowledge to try a reverse proxy as suggested...

[2018-05-31 13:51] cben commented on #318
Thanks for the nag.  I got carried away thinking of future APIs, perfect is the enemy of good...

- **Any opinions on API proposal above?**
- Note what I propose would require projects to change way they construct Kubeclient::Client (if they want to work with api not at `/`) — is that acceptable?
  - If you prefer a no-code-changes-needed fix, please invent one :-)  I'm not sure how to do it, worr

[2018-05-31 14:18] cben commented on #318
Hmm, we already accidentally(?) have 2 interfaces :-(
1. README mostly documents constructing with endpoint ending in `/api` or `/apis`.
2. However in few places (`Kubeclient::Client.new(uri)`, `Kubeclient::Client.new('https://kubernetes.default.svc', ...)`) it shows constructing with the bare domain without `/api`.
3. Also, when constructing from `config.context.api_endpoint` (as README also docu

[2018-05-31 14:22] cben commented on #318
Anybody knows how the official kubernetes client libs express these params?
This might be a good time to borrow from https://github.com/kubernetes-client/ruby :-)

[2018-05-31 14:32] cben commented on #227
Correction, please don't do:
`Kubeclient::Client.new('http://master.example.com:8443/apis', 'autoscaling/v1', options)`
even if that makes sense and appears to work (?), but instead do:
`Kubeclient::Client.new('http://master.example.com:8443/apis/autoscaling', 'v1', options)`
This is silly (#284, #318) but this is the current documented interface.

[2018-05-31 19:31] dplummer commented on #318
I'm interested to see this fixed. In the meantime this is the workaround I'm using:

[code]

[2018-05-31 21:44] cben commented on #318
### Simpler Idea: get groupVersion from discovery ?
Stop caring how exactly endpoint / version are split in constructor.
Join them anyway into single URL, do discovery on that path, take `groupVersion` from that.

(well, with compatibility special casing for bare domain without `/api`)

[2018-06-05 15:37] jrafanie commented on #317
See: https://github.com/rest-client/rest-client/pull/665

[2018-06-06 21:39] chasebolt commented on #318
great gem! i am also running into this issue with gitlab. would appreciate it if someone can get a fix ironed out.

[2018-06-06 22:13] Mahla1990 opened #336 "create_namespace does not work"
In ruby:2.4.0, I have a class which creates deployments, ingress and services. I also want to create a namespace in the code and I'm using the exact syntax as I see here but it keeps complaining about NoSuchMethod. This is the error I see:

`
2018-06-06 21:25:09 +0000 Exception occurred undefined method create_namespace' for #<Kubeclient::Client:0x0000000267b810>`
`E, [2018-06-06T21:25:09.158818 #

[2018-06-07 04:47] cben commented on #336
This is calling `create_daemon_set` - Is that the exact code you're using?
How was `@kube_ext_client` constructed - is it for some extension API group?

[2018-06-07 12:52] stiller-leser commented on #332
Some initial feedback from my side. I just tried `create_entity` and noticed a couple of things:

- Isn't it redundant that I need to specify `kind` and `name`, since they are present in `entity`? Maybe we could overload `create_entity` here with two diffrent kinds of parameters here? For example `create_entity(entity_type, resource_name, entity_config)` and `create_entity(entity)`. The latter one

[2018-06-07 17:41] tanner-bruce opened #337 "Error loading config from kube config when it contains credentials created by gcloud"
When a kube config file contains credentials created from `gcloud container clusters get-credentials ...` it has a time in the users block. Loading this config file fails. I've narrowed down the issue to this specific piece of code: https://github.com/abonas/kubeclient/blob/master/lib/kubeclient/config.rb#L28, particularly `YAML.safe_load(File.read(filename)`. Changing this to `YAML.load` fixes th

[2018-06-07 18:56] Mahla1990 commented on #336
This is how I create the client:

[code]

and that function is `create_namespace`, I saw the examples here:
[(https://github.com/abonas/kubeclient/blob/master/test/test_namespace.rb]
)
exactly like this:

[code]

I wrote `create_daemon_set` by mistake.

but it doesn't work. All other functions - including create_deployment and create_service - works fine. I'm using _kubeclient v2.5.1_.

[2018-06-07 19:10] cben commented on #337
Wow, thanks for catching this!!
My fault, It's a regression in 3.1.1.  I wasn't sure how to really test switch to safe_load (#334).  I was sure kubeconfigs shouldn't contain `!!ruby ...` classes but didn't occur to me safe_load might also exclude a builtin yaml type like date/time...
For an immediate workaround, use 3.1.0 (assuming you don't take config from untrusted sources.

It seems `YAML.safe

[2018-06-07 21:16] cben commented on #336
OK, can you try:

core_client = Kubeclient::Client.new(
      "#{kube_master}*/api*", '*v1*', auth_options: auth_options
)

created_namespace = core_client.create_namespace(namespace)

Namespaces are part of the "core" API group.
In the API reference, you can figure which API group you need for given
operation from:
1. URLs — it says `POST /api/v1/namespaces`
    under namespace write operations i

[2018-06-07 23:27] Mahla1990 commented on #336
You're right, it worked! Thanks a lot!!

[2018-06-07 23:27] #336 closed

[2018-06-08 00:56] cben commented on #337
Wow, Thanks for catching this!!
For now, use 3.1.0 instead of 3.1.1.

чт, 7 июн. 2018 г., 20:41 tanner-bruce <notifications@github.com>:

[2018-06-08 05:08] cben commented on #336
Glaf to haer that.
@Mahla1990 Kubeclient docs in this area are clearly lacking - we get such questions a lot...  If you see a way to improve them, please send PR or suggestions...

[2018-06-10 07:38] #337 closed

[2018-06-10 23:01] cben commented on #318
I started a small project to help understand backward-compat, and possibly for future pseudo-integration testing: https://github.com/cben/kubernetes-discovery-samples
It has scraped discovery responses, as static files, from k8s versions 1.1–1.10 (well actually from matching openshift versions because these were easier).
You can even access it via GitHub Pages as a fake endpoint!
[code]
Of course

[2018-06-11 09:22] cben commented on #332
Feedback from @stiller-leser, not sure why it disappeared:

[2018-06-27 09:02] stiller-leser commented on #329
Hey @cben,

been a while and I've been able to work around most of the issues with `create_entity`.

However with that I can't seem to create deployments, since I only get `HTTP status code 404, the server could not find the requested resource for POST https://my-ipapi/v1/namespaces/default/deployments`.

I tried the `create_deployment` method you've referenced, but I only get `because undefined m

[2018-06-27 09:52] #322 closed

[2018-06-27 11:21] cben commented on #324
Closing as I believe this is solved — 3.1.* releases contain `Kubeclient::GoogleApplicationDefaultCredentials`.

[2018-06-27 11:21] #324 closed

[2018-06-27 12:57] cben commented on #332
https://github.com/abonas/kubeclient/pull/241#issuecomment-296431061 points out that among many other things #241 tried to, in offered better names and possibly better interface:

where the passed data was expected to contain `kind` possibly `apiVersion`.
(didn't mention `.get()` and `.watch()` but these are also workable)

Ability to omit `apiVersion` requires client to be able from discovery on

[2018-06-27 13:05] cben commented on #329
Yeah.  You need to create a `Kubeclient::Client` per API group you use.

I don't see this changing soon.
The way Kubeclient creates methods per resource, like `get_deployments`, ties a client to one api version.  IIUC #241 would tie a client to a "version vector", one version per API group.  I can see how that's friendly to a 90% of uses, but it gets ugly in 10%.  It's also a huge code change.

IM

[2018-06-27 17:24] grosser opened #341 "get_node 'foo', as: :raw builds wrong url/api/v1/namespaces/{:as=>:raw}/nodes/foo"
... even documented in the readme :)

workaround: `get_node('foo', nil, as: :raw)`

[2018-06-29 20:14] grosser opened #342 "add watch_node support"
this works `kubeclient.watch_entities 'nodes/foo'` so just needs an alias ... sounds good ?
@cben

[2018-07-01 08:58] cben commented on #342
`watch_nodes` seems to work.  AFAICT `define_entity_methods` only creates watch_*plural* methods — do you mean we should add watch_*singular* methods?

[2018-07-01 15:07] grosser commented on #342
would be nice for completeness, at first I though it's not possible until I tried on kubectl and then made the workaround

watch_nodes with name does not work:
[code]

[2018-07-02 08:16] stiller-leser commented on #329
Well it would already help if we could expose the neccessary attributes with a setter method. This way one could use one client and just switch the endpoints. This would save the new init. I am currently using memoization to keep the load as low as possible during initialization, but this is more of a workaround.

[2018-07-04 10:58] mbobin opened #343 "creating a deployment"
Hello!
I'm trying to create a deployment from inside the cluster and I'm facing the same issue as #224. Is it possible to do this?

[code]
[code]

I'm using the nginx file from [k8s docs](https://kubernetes.io/docs/concepts/workloads/controllers/deployment/#creating-a-deployment).
[code]

[code]

[2018-07-04 13:34] mbobin commented on #343
Here are the logs from rest-client:

[code]
And the same deployment run with kubectl:

[code]

[code]
After comparing the output from the rest-client and kubectl, the only difference between them is that the kubectl puts the namespace in the URL.

[code]
So, after changing the URL, it worked!  Is there any way of adding the namespace in the URL?

[2018-07-04 14:17] mbobin commented on #343
It works.  You just have to add the `namespace` in `metadata`.

[code]

[2018-07-04 14:17] #343 closed

[2018-07-04 14:21] cben commented on #343
Cool.  If you see a way to improve the readme, PRs would be *very* welcome.

[2018-07-12 13:57] danielhass commented on #318
Any news on this one?

[2018-07-12 14:02] krishofmans commented on #318
Indeed, I'm interested as well. This breaks a lot of gitlab functionality, it would be nice to have sane api url handling.

[2018-07-12 15:10] cben commented on #318
Sorry, I'm aware this is high priority, more or less know what to do but not finding the time :-(.  Did I mention PRs always welcome? ;-)
Specifically, if anybody has time to write tests for existing functionality and/or desired functionality, that would help a lot!
Forms that already work, and don't yet:

- [x] `Client.new('https://host:6443/api', 'v1')`
- [x] `Client.new('https://host:6443/apis/

[2018-07-20 16:21] #320 closed

[2018-08-13 21:58] kuahyeow opened #346 "Ability to mutate single client to switch api group/version"
### overview of alternatives: https://github.com/abonas/kubeclient/issues/208#issuecomment-412706681

Currently in order to access api endpoints from another api group, we have instantiate a new `Client` object

`client = Kubeclient::Client.new('http://localhost:8080/apis/rbac.authorization.k8s.io', 'v1')`

Is there a way to reset the `api_endpoint` of a pre-existing `Client` ? E.g.

[code]

[2018-08-13 22:42] cben commented on #346
I'll say right out that I don't like the mutation idea :worried:
The way I see it, a client object is not just something you _need_ to perform the actions.  It's what you _pass around_ in your code to represent a specific cluster & settings.
But the way k8s apis evolve, you typical need to mix several API groups, pretty arbitrarily, in same code that works on one cluster.  (I think we all agree so

[2018-08-13 23:08] cben opened #347 "Ability to create related client for different api group/version from existing client"
[Originally mentioned in https://github.com/abonas/kubeclient/issues/329#issuecomment-400664345]
A way to reduce multi-api-group pain that would be easy to implement, not sure if best long-term:

Add a method on a client that returns a "related" client, same cluster same settings just different api group.  Something like:
[code]
This way the group/version of the client you originally got doesn't m

[2018-08-13 23:34] cben opened #348 "Ability to add api groups to existing client"
A variant of "union" client #208, #241:
Many people want one client object to combine methods from multiple API groups.  The main questions are: union of *what* groups, *which version* per group, and who wins *method name collisions*?

This proposal is that Kubeclient would not try to guess.  User would start from one group, and be able to add them one by one, each with specific version:
[code]
ma

[2018-08-13 23:45] kuahyeow commented on #346
Thanks @cben

I do prefer a "union" client or a client that can query the combination of all api groups. 👍

In the absence of such a client, I was hunting for a work-around in the mean-time.

[2018-08-14 00:02] cben commented on #208
# Overview of directions
Opened separate issues for several proposed directions, for easier discussion. (cc @stiller-leser @kuahyeow)

- "Union" client as discussed here, with methods from many groups.  The main questions are: union of *what* groups, *which version* per group, and who wins *method name collisions*?
  - #241 attempted to magically autodetect one version for each group.  (it also di

[2018-08-23 13:13] stiller-leser commented on #348
Why not do something like
[code]
Or (because how often do you really switch)
[code]
Adding the possibility to add many groups IMHO creates unnecessary complexity.

[2018-08-23 15:25] cben commented on #348
I think that's #347.

that's #346.  Trying to keep one issue per approach to focus discussion :)

There's a convenience tradeoff  — for many use cases you can `add_group` all you need near construction and then you don't need to mention groups anywhere else.
Many people asked for some form of "union" client.
Implementation may be harder (which is one reason it's not yet here) but I think once we a

[2018-08-23 15:37] cben commented on #348
Also worth mentioning I think we need #332 anyway.
it'll expose _a_ way — though quite different and perhaps less friendly — to use one client with many groups, something like:
[code]
which maybe makes some approaches like #347 less of a win (?)

[2018-08-23 16:09] cben commented on #332
@abonas you've previously objected to #241 adding "more than one way of doing the same thing".  Would love to hear your thoughts as I'm pushing for a variant of same :-)
^^ https://github.com/abonas/kubeclient/issues/332#issuecomment-400662039

TLDR Kubeclient sorely lacks a way to manipulate dynamic resource types — `client.send("get_#{kind}", ...)` is awkward, especially if you have to pluralize

[2018-08-23 21:05] cben commented on #283
2 open questions:

1. How should whole-collection metadata, notably resource_version, be returned?
    #254 in current form first yields each item, at the end returns a hash with `resourceVersion` & `kind` keys.
    For streaming parse this was motivated by not assuming k8s always puts `items` key last in the JSON.
    For chunking, we do have metadata in each chunk, and parse whole chunk at a tim

[2018-09-04 21:25] cben opened #349 "Test an api group or specific resource kind is registered"
With custom resources, whether by CRD or API agregration, it's increasingly common not to be sure the API group you expect is there.  If the CRD is not yet defined, or the API server is down, you get an error.

- [x] Perhaps detecting whole API group missing is already possible — create `Client` for it, call `.discover`, rescue excepion?
- [x] For testing a single resource `kind`, can you rely on

[2018-09-12 23:16] grosser commented on #256
same happens when doing `get_node ''` ... returns all nodes ... that was fun to debug :D

[2018-09-13 09:10] cben commented on #349
https://github.com/ManageIQ/manageiq-providers-kubernetes/pull/284 confirms `.discover` raises if whole api group doesn't exist.  Moving discussion from there:

@agrare great question.  Originally kubeclient hardcoded supported entities, so no network communication was needed during `Client.new`; when discovery was discussed #144 & implemented #185, I don't see direct explanation why discovery was

[2018-09-13 09:19] cben commented on #349
About changing `.new`: IMHO not worth backward compatibility price.  We already have `.discover`.

Could add a factory method that does immediate discovery like `Kubeclient::Client.connect` but not even sure it's worth a new method.  Also, in case of https://github.com/ManageIQ/manageiq-providers-kubernetes/pull/284 that project has `manager.connect` eventually wrapping `Kubeclient::Client.new` — 

[2018-09-13 13:05] agrare commented on #349
@cben I didn't catch that we were just calling `Kubeclient::Client.new` from `ContainerManagerMixin#connect`, I completely agree that the simple constructor should not do any network calls.

I like the idea of a `Kubeclient::Client.connect` which would call new and discovery.  This is very similar to RbVmomi's [VIM.connect](https://github.com/vmware/rbvmomi/blob/master/lib/rbvmomi/vim.rb#L31) meth

[2018-09-13 13:19] agrare commented on #349
The `respond_to?` is interesting as well, currently it isn't possible to do something like this:
[code]
because it will raise a 404 exception instead of returning false.

Maybe we could catch exceptions raised by discover here https://github.com/abonas/kubeclient/blob/master/lib/kubeclient/common.rb#L89 and herehttps://github.com/abonas/kubeclient/blob/master/lib/kubeclient/common.rb#L98 so that r

[2018-09-21 13:29] Stono opened #350 "How to list ingresses"
Hey,
I'm struggling to list ingresses.
My client currently looks like this:
[code]

But when starting up I get this:
[code]

Any ideas?

[2018-09-21 13:45] #350 closed

[2018-09-21 13:45] Stono commented on #350
Never mind, should have been `ingresses`

[2018-09-21 14:36] Stono opened #351 "Watch dumps all objects when started"
Hey,
I'm not sure if this is a kubernetes api thing, but when I start a watch, I get an `ADDED` event for all objects in the clusters.

Is there a way to make that not happen, eg only objects changed since the watch starts?

[2018-09-23 12:13] cben commented on #351
It's normal.  I think if you specify an initial resourceVersion, you'll only see changes since then.

 If you want changes from now, use collection version from get_*foos*() or just specify collection

[2018-09-27 21:27] Stono commented on #351
Hey @cben - the resourceVersion works but if the resourceVerison is outside of the retention then it errors with a 410, so the only way to get the watch up and running at that point would be to start from 0, which gives me the CREATE events!

Feels like i'm going to have to run my own idempotency layer

[2018-09-29 22:05] cben commented on #351
Hmm.
Ok, how about on 410 doing list and watch from the version of the returned
collection?
Or are you seeing any 410 immediately after list?

[2018-09-30 13:35] cben commented on #351
Also, can you get desired behavior wtih kubectl or curl? (tip: kubectl --loglevel=8 or something like that dumps all http request in form of curl commands)

[2018-10-01 14:53] Stono opened #352 "Watch gets dropped quite frequently for v1/services"
Hey,
Noticing some really odd behaviour when watching services.

As you can see in this log, i'm watching three apis, nodes, ingresses and services.  Services gets dropped really frequently and requires reconnection.  When i say dropped, i mean the `watcher.each do |notice|` block returns and i have to reconnect the watch.

No errors or anything as far as I can see?

[code]

Any ideas?

[2018-10-01 14:54] Stono commented on #351
@cben that's a good shout actually, if I get a 410 back from a `watch`, do `list` and find the highest `resourceVersion` and watch from there.

[2018-10-05 09:09] devkid opened #353 "No way to do the equivalent of `kubectl exec`?"
Is there a way to do this? I tried the "normal" and the "v1beta1" client, neither had any kind of `exec` method after invoking `discover`.

[2018-10-05 12:46] Eric-Fontana-Bose opened #354 "Unable to use 3.0.0 or 4.0.0 using Docker and Ruby 2.5-alpine"
I tried both version 3.0.0 and 4.0.0 and using the Docker image ruby-2.5-alpine

/lib/kubeclient/common.rb:221:in `rest_client': undefined method `path' for nil:NilClass (NoMethodError)

My Gemfile has:
[code]
Any ideas? Works fine with the ruby-2.5 image, but it's huge.

[2018-10-06 19:28] steigr commented on #353
I hacked something for learning. You may check it out: [ kubeclient-exec.rb](https://gist.github.com/steigr/7f11eae8bea303e26f617d38f24ccd8c)

[2018-10-09 14:42] Stono commented on #352
Poke... We see this with some resources but not others.  It's bizzare.  Seems to be consistent with CRDs and v1/services

[2018-10-09 15:43] Stono commented on #352
I've noticed on https://github.com/Stono/kubeclient/blob/master/lib/kubeclient/watch_stream.rb#L25 when this happens, the chunk is empty, so it's like we're receiving a nil body (perhaps some sort of keep alive?)

[2018-10-09 20:04] cben commented on #352
sounds like duplicate of #273.  (see there and #275 for some discussion _how_ to re-connect from last seen resourceVersion.  not yet implemented in kubeclient itself.  your "stopped, will restart from offset NNNN" log suggests you already implemented that?)

The empty `chunk` finding is extremely interesting!
But looking at the code, empty chunk should just be a no-op, should not terminate the wat

[2018-10-09 20:11] Stono commented on #352
Hey, thanks for this.
That's right, I have already implemented a loop and restart from the last successful resourceVersion, it just feels like there should be some sort of keep alive that we are missing as it feels a bit rough!

[2018-10-09 20:12] cben commented on #352
try adding logging for each received chunk, at least timestamp & the size of the chunk.  it will let you confirm or refute:

1. is there roughly constant time between last non-empty chunk to disconnection?
2. is there exactly one empty chunk just before `.each` loop exits?

[2018-10-09 20:12] Stono commented on #352
There is exactly one chunk of length 0 before the body.read.each exits

[2018-10-09 20:18] cben commented on #352
cool, then I think we can close this in favor of #273?

if you feel like working on improving this, see my comments on #275.
perhaps a smaller step that'd already be useful is enriching watch objects with an attribute storing the last seen resource_version.

[2018-10-09 21:10] Stono commented on #352
I'm not sure, it feels so odd.... check these logs which output all events:

You can see I set up watchers for:
- /v1/nodes
- /apis/extensions/v1beta1/ingresses
- /apis/atcloud.io/v1/services
- /apis/kubitzer.io/v1/secrets
- /apis/kubitzer.io/v1/shared_secrets

You can see the CRDs are the ones that drop more frequently, it doesn't seem to be anything to do with a rate of activity (because /apis/e

[2018-10-10 04:29] cben commented on #352
Yeah, somewhat strange.
Found this:

https://github.com/kubernetes/apiserver/blob/2603dd2bc0e2/pkg/server/config.go#L157-L159

controlled by `--min-request-timeout` command line flag, not sure what's the default.
Anyway, it's a thing and clients need to deal with it.

closing, let's continue on #273.

[2018-10-10 04:29] #352 closed

[2018-10-16 21:07] Stono commented on #273
Hey,
So I just wanted to add my latest finding here.

The logs are below, but long story short, the latest resource is `44924022`, however if you use that as your starting point, k8s returns 410 GONE (because these particularly resources haven't been updated in quite some time).

The only way to get a watcher started then is to use 0, which returns you ALL the objects.

You'll then need to filter

[2018-10-16 21:52] Stono commented on #273
Does anyone know if `resourceVersion` is unique to the `kind`, eg a `v1/secret`, or is it incrementing across *all* objects?

[2018-10-16 22:13] Stono commented on #273
reading https://github.com/abonas/kubeclient/issues/273 it looks like you can specify a `timeoutSeconds` on the watch api call?

[2018-10-17 07:02] Stono commented on #273
Does anyone know if the resourceVersion ever rolls back over.  At the moment quite a bit of my de-dupe code is basically `resourceVersion > lastStoredResourceVersion`?

[2018-10-17 21:10] agrare commented on #283
@cben I took a crack at this over in https://github.com/abonas/kubeclient/pull/356
Not sure that it is the interface that you're looking for but it works well, see full example usage in https://github.com/agrare/openshift-collector/blob/wip_chunk_kubernetes_api_responses/lib/openshift/collector.rb#L85-L113

[2018-10-18 09:09] cben commented on #273
The answers in this discussion: https://github.com/kubernetes/website/pull/6540#discussion_r160742783 explain some things well.

By default shared for many collections, but might be separate, for example Events have independent version by default.  Do not assume any relation between versions of different collections.

So this presently works AFAIK but k8s devs are very insistent that versions are

[2018-10-18 09:20] cben commented on #273
Nah, my bad, that would be too convenient to be true :wink:  API docs say:
https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.12/#watch-list-pod-v1-core

So there is slight difference between 0 and omitted but both give you old data...

[2018-10-18 13:46] Stono opened #357 "Support json patch & json merge patch in addition to strategic patch"
`Error message: the body of the request was in an unknown format - accepted media types include: application/json-patch+json,application/merge-patch+json`

Using

`@atcloud.patch_service_check(check.metadata.name, {metadata: {annotations: {key: 'value'}}}, check.metadata.namespace)`

Any ideas?

[2018-10-18 13:48] Stono commented on #357
This monkeypatch resolved it:
[code]

K8 1.10.7

[2018-10-23 07:49] cben commented on #357
Is that a custom resource (CRD)?
per https://github.com/kubernetes/kubernetes/issues/58414, strategic merge patch (which is what kubeclient currently sends) for CRDs is unsupported and not planned.

Your change above redefines `patch_*` methods to take a different format, this isn't backward compatible, I don't think we can do that in kubeclient.

But we clearly need to add a way to choose patch f

[2018-10-23 11:54] cben commented on #332
For patch, we need a way to choose patch format (#357) — json patch / json merge patch / strategic merge patch (https://kubernetes.io/docs/tasks/run-application/update-api-object-kubectl-patch/).
This is not communicated in body but via `Content-Type` header, and in kubectl via separate flag `--type=json|merge|strategic` so probably wouldn't belong in the single "resource" argument.
Can either use

[2018-10-25 15:18] Stono commented on #357
Hey @cben - yes this is a patch against a CRD so that makes sense indeed and I agree with you, well named functions for the purpose over an expanding list of arguments.

[2018-10-29 20:08] jhavero opened #358 "Support for apply command"
Does this gem support applying yaml files declaratively? For example 'kubectl apply -f file.yml'

[2018-10-30 10:12] cben commented on #358
Not currently.
You can completely replace an object with `update_pod()` etc.
You can patch specific parts of an object with `patch_pod()` etc. (currently using "strategic merge patch", want to add others, see #357).
There are several hurdles to process a yaml file with many objects — #329.  The next step to make that easier is #332.

But `kubectl apply` has considerate client-side smarts for not t

[2018-11-03 11:50] pravi opened #359 "Tests failing with openssl 1.1.1 (debian unstable)"
I think this is caused by using weak keys. Debian recently moved to openssl 1.1.1 and these tests started failing. Possibly using stronger keys can fix the issue.

with kubeclient 3.0 https://ci.debian.net/data/packages/unstable/amd64/r/ruby-kubeclient/latest-autopkgtest/log.gz

and kubeclient 3.1 (below)

[code]

[2018-11-04 09:00] #283 closed

[2018-11-05 19:40] f4tq opened #360 "custom resources & istio"
Hi,
First off, many thanks for kubeclient.  It works very well.

I've been able to - mostly - use kubeclient to discover and instantiate all istio objects via kubeclient but there are a couple exceptions.

The [istio 1.0.3 custom resource definitions ](https://github.com/istio/istio/blob/1.0.3/install/kubernetes/helm/istio/templates/crds.yaml) in question raise an exception due to the kind for a b

[2018-11-05 22:02] cben commented on #360
Ooh, interesting corner case!  Custom resources are great for stressing kubeclient :-)
Can you try with new implementation of lowercasing from #355?

[2018-11-05 22:54] f4tq commented on #360
No, that doesn't work.  From the looks of it, the spec in PR 355 needs some lower case `kind`s.
I think a PR for this is in order as it won't collide with 355.
FTR, here is the `kubectl api-resources`.  Notice all the lower-case 'kind's.
[code]

[2018-11-08 15:39] cjhodges77 opened #362 "support kube_config exec"
Is there a plan to support the kube_config exec function? as in:
[code]

[2018-11-08 18:38] motymichaely commented on #362
@cjhodges77 I needed this as well so I just implemented it ;)

[2018-11-08 22:07] cben commented on #359
## *Chronicle of a Failure Foretold*

OK, this was silly.  A cert used in this test has `not_after=2018-11-01 12:03:22 UTC`, so it fails past that date :hourglass:

Working on fix...

[2018-11-08 22:55] #359 closed

[2018-11-09 07:14] pravi commented on #359
@cben thanks for the fix. May be add a comment in the test about expiry date so next time it becomes easy to renew.

[2018-11-21 17:35] cben commented on #360
Fixed by #361.

[2018-11-21 17:35] #360 closed

[2018-11-21 17:44] cben commented on #307
Besides kind, neither the collection nor the individual items expose `.api_version`.  It's simply lost.

[2018-11-22 12:49] cben opened #365 "Support as: param in create_*, delete_*, update_*, patch_*"
These methods do support the functionality of switching result format, using Client's default `@as` set at construction.
But they don't support specifying `as:` param for a single request.

It's worth thinking of #312 before adding extra params.

[2018-11-22 13:19] cben commented on #312
Summary of current signatures wrt. name & namespace:
[code]

:scream: :confounded: :interrobang: :face_with_head_bandage:

[2018-11-23 11:15] cben opened #367 "create_security_context_constraint doesn't work"
This results from same mess as #307 but distinct problem.  We had a workaround for this for `create_endpoint` but `create_security_context_constraint` is broken.   It's an openshift resource, available both in 'v1' core api and a separate api group, neither works:
[code]

Fixing this (with tests) in #366.

[2018-11-23 12:18] cben opened #368 "collection .kind, .apiVersion inconsistent between return forms"
Splitting general .get_plural interface problems from #307.  #307 will be only about wrong `get_endpoints.kind == "Endpoint"` and `get_security_context_constraints.kind == "SecurityContextConstraint"`.

----

Getting a single entity `get_foo` gives us `kind`, `apiVersion` on the resource itself, in all result formats. :+1:

Listing multiple `get_foos` is inconsistent.
- `as: :parsed`, `as: :parsed

[2018-11-23 12:22] cben commented on #367
#261 is where SecurityContextConstraints was previously partially fixed.

[2018-11-24 20:13] cschiewek opened #369 "Any planned support for the Apps endpoints?"
The Apps endpoint group (Deployments, StatefulSets, DaemonSets, and ReplicaSets) all went GA in 1.9. Are there any plans to add support for these resources?!

[2018-11-25 11:07] cben commented on #369
Kubeclient should support all API groups. Alas, the README is quite unclear about how this works :-(
Try constructing a client with:
[code]
(possibly the more logical `'https://example.com/apis', 'apps/v1'` works too but that's untested and not yet guaranteed, hope to make it official later)

[2018-11-26 10:56] cben commented on #349
Hmm, we do have unit tests for `respond_to?` working:
https://github.com/abonas/kubeclient/blob/master/test/test_missing_methods.rb
(It even triggers immediate discovery if not done yet.  It's a bit surprising compared to "constructor doesn't do any network call" but we have no choice...)

When API is responding this works for me (without service broker's custom resources):
[code]
Do you mean if d

[2018-11-26 15:57] cben commented on #349
Yes, this already happens.  But then, whether the original response was assumed `true` or `false`, it might have been a lie — if later discovery succeeds, it will change.

[2018-11-26 17:21] #307 closed

[2018-11-26 17:21] #367 closed

[2018-11-27 16:12] cschiewek commented on #369
@cben Can you provide an example?  I've setup a apps client via
[code]
And none of the list_, get_ methods work...

[2018-11-28 13:49] cschiewek commented on #369
I got it working.  It's somewhat unfortunate that you have to make 2 clients, but so be it!  Thank you for the clarification!

[2018-11-28 13:49] #369 closed

[2018-12-12 12:08] cben opened #376 "Underscores disappeared for y -> ies plurals"
4.1.0 includes #366 that broke method names for plurals that are not strict suffix of the singular kind.

Differences between method names in kubeclient 4.0.0 to 4.1.0, across multiple kubernetes & openshift versions:
https://gist.github.com/cben/344a0c7bf74ea50f185c29b52fe0678f#file-changes-diff

- `network_policy	network_policies` became `networkpolicy	networkpolicies`.
- `pod_security_policy	po

[2018-12-12 20:53] masayag commented on #376
@cben I think the tweaked fallback is good. It makes more sense to me to have
      (`replicationcontrollerdummy`, `replicationcontrollers`) than having (`replication_controller_dummy`, `replicationcontrollers`) in terms of predictability.

[2018-12-16 11:18] cben commented on #376
The plot thickens (out-of-scope for this issue — this one is just about disappeared methods — but continuing here as we're already discussing this):
Of the 3 methods now added thanks to the fallback, "ReplicationControllerDummy" is silly and obsolete, and the other 2 collide with other resources **with same kind**:

[code]
(both `oapi/v1` as well as `apis/template.openshift.io/v1` contain this col

[2018-12-19 14:01] #376 closed

[2018-12-27 09:53] cben commented on #354
Sorry for silence, haven't had time to reproduce.  Does this reoccur?
Can you show how exactly you're constructing Kubeclient::Client?

The error message points at this line:
[code]
so `@api_endpoint` is nil.  It's set in `handle_uri` called from constructor:
[code]
So looks like you're calling `Client.new()` with first arg on which `URI.parse('...')` returns nil?
But according to docs, that's not

[2018-12-27 09:56] cben commented on #357
I'll be happy to take a PR.  Otherwise, I'm unlikely to get to this any time soon, I need to focus on bugs first (especially #318).

[2019-01-22 10:54] masayag opened #388 "Allow to query available groups and their versions"
There is a need to query a resource such as:
[code]
The response will include the list of supported groups and their versions, in a similar version of `kubectl api-versions`

This information is required for defining the clients entry points when creating a new client using kubeclient:
https://github.com/fog/fog-kubevirt/blob/master/lib/fog/kubevirt/compute/compute.rb#L157

While the group is perm

[2019-01-23 08:51] pkliczewski commented on #388
I would suggest to for the client to detect `preferredVersion` or `version` and use it. It would be great not to give version and then the client would detect by itself to use the latest one. I would be great to get the version being used by the client.

[2019-01-23 09:51] cben commented on #388
I'm not sure about `preferredVersion`.  As APIs progress alpha->beta->v1->v2..., some of the data structure and the semantics will change.
In the simplest case, code performing specific requests was written against documentation and observed behavior of a specific version, and _should_ IMHO hardcode that version and fail if server no longer offers that version.  It should not silently get whatever

[2019-01-23 10:01] cben commented on #362
Closed by #363 (thanks Moty again).

[2019-01-23 10:01] #362 closed

[2019-01-23 10:04] cben commented on #354
@Eric-Fontana-Bose friendly ping — is this still a problem for you?
Can you provide more detail?
Without more detail, I'm gonna close as "can't reproduce".  My current best guess is wrong params constructing Kubeclient::Client, though I don't quite see how it got that error.

[2019-01-23 10:11] cben commented on #268
Patch formats are covered by #357, more discussion there.  Seems we're all reluctant about overloading existing method, so best direction is adding new methods eg. `json_patch_*` and `merge_patch_*`.  I'm not working on it, PRs welcome.

Closing as I'm not aware of other use cases for per-request headers, but I'm opening a new issue for HTTP requests to arbitrary paths...

[2019-01-23 10:11] #268 closed

[2019-01-23 10:18] pkliczewski commented on #388
`preferredVersion` is a suggestion from the server which is optimal to use. For some of the apis there is only one version available. It is ok to get version list from the client for a `path` and decide which to use.

[2019-01-23 10:30] cben commented on #227
I believe this works and I've answered the question, feel free to reopen if still a problem.

[2019-01-23 10:30] #227 closed

[2019-01-23 10:35] cben commented on #199
Out of date. Most already done.  We've had a couple major releases since.
We have a couple outstand backward-incompatible changes, but tracking in issue like this doesn't scale, I'll use labels if needed.

[2019-01-23 10:35] #199 closed

[2019-01-23 10:49] cben opened #389 "HTTP requests to arbitrary path"
A few use cases have come up over time for making arbitrary HTTP requests to the server, that probably don't justify builtin methods in kubeclient.  Generally, users wish the library covered 100% of their needs, but it's not always reasonable to inflate API surface (especially for k8s derivative-specific stuff like openshift), nor to force users to wait until their use case is added to the library

[2019-01-23 10:55] cben commented on #245
Closing as we never figured what exactly was desired, but I expect it'd be covered by `get_node` and/or #389 — GET requests on arbitrary path.

[2019-01-23 10:55] #245 closed

[2019-01-23 11:08] cben commented on #388
Now we have 2 options:

1. #389 — generic support for GET on arbitrary path, which I think is worth adding anyway.
2. Add native API for this.  Do we need to cover both  `/apis` (APIGroupList of all groups) and `/apis/FOO` (versions for one APIGroup)?  Do we also need separate `/api` (not included in `/apis` afaict) and openshift's `/oapi`?

Not sure yet.
A future multi-group interface would possi

[2019-01-23 14:33] pkliczewski commented on #388
We are find with single group interface. Here are the groups that we are interested in: `/oapi`, `/api`, `/apis/kubevirt.io` and `/apis/k8s.cni.cncf.io`. ATM we are using responses like you linked above. We provide groups and would like to understand the version(s) available and decide which one to use.

[2019-01-27 03:54] tsontario commented on #312
What do you think about requiring keywords for all identifying parameters? E.g. instead of
[code]
Instead we do
[code]

For myself, I think it would be ideal if we required keywords for all parameters for the get/update/patch/etc.

[2019-01-27 04:55] #357 closed

[2019-01-27 05:07] cben commented on #312
I don't want to break comaptibility, especially as this would affect almost every call.
I'll consider *allowing* name too as keyword.  But it's not optional.

See also #332 that proposes a new hash-only interface.
There, I'm thinking of omitting name to `.get` & `.watch` distinguishing plural list from singular get (?).

[2019-02-15 14:44] timothysmith0609 opened #392 "Automatically support GCP ApplicationDefaultCredentials"
Continuation of #213

It seems like a good idea to have Kubeclient automatically default to `GoogleApplicationDefaultCredentials` when the provided context's user has the `auth-provider: 'gcp'` entry. Currently, specifying application default credentials must be done explicitly. This is problematic for tools that don't know a priori what cloud provider is being targeted (e.g. [Shopify/kubernetes-d

[2019-02-16 19:54] cben commented on #392
Generally :+1: to make config Just Work!
And avoid users having to subclass Config - I gather that's proving brittle (and it wasn't consciously designed for extension by subclassing)...

I see you wrote on https://github.com/Shopify/kubernetes-deploy/issues/406 "The ability to check for this case is hidden behind the kubeclient interface so overriding is really our only choice at the moment" -- ca

[2019-02-16 19:57] cben opened #393 "Authentication renewal"
Some credentials have short shelf life. GCP auth is good for about a hour, I think(?).  `exec` results may return expiration time, or may simply return error at some point.

Since one might have passed around a Kubeclient::Client object to many places,
it would be desirable to be able to renew auth - manually or automatically - without creating a new Client.

[2019-02-19 14:45] timothysmith0609 commented on #392
The issue for kubernetes-deploy is that it's agnostic about what cloud provider the end-user is targeting. For example, if we knew we would always be targetting a gcp cluster, then we could use the kubeclient ApplicationDefaultCredentials as it stands. But we need a way to find out, at runtime, which cloud provider we are dealing with. This information is encapsulated by private methods in the `Co

[2019-02-24 15:50] cben opened #395 "Make in-cluster configuration easy"
Splitting from discussion in #394:

---

---

[2019-02-24 17:59] cben commented on #395
BTW, there is a small discrepancy between what k8s documents and what client-go does, related to rare issue https://github.com/kubernetes/kubernetes/issues/40973 where the env vars are not always set. See previous discussion on #316.

[2019-02-24 18:17] cben commented on #392
Aha.  I don't see any reason `Config` should be opaque!
We could add say `Config#data` accessor for the underlying data.

However, `.context()` is very useful to focus on interesting part of the data, and it would be natural if it returned a passive data object with the relevant subset of data, with methods like `auth_options` to compute Kubeclient-friendly info, including obtaining exec / gcp cre

[2019-02-26 22:09] empyrean987 opened #397 "EKS"
Does this work with Amazon EKS?

[2019-02-26 23:54] #397 closed

[2019-02-26 23:54] empyrean987 commented on #397
This does work with eks you just need to use the --token option and also --api-server

[2019-02-27 08:02] blijblijblij opened #398 "Scale the number of replicas in a deployment"
Is it possible to interact with the Deployment (or ReplicaSet) object to scale from that perspective?

Scaling works via the ReplicationController object `update_replication_controller`, but I would rather use the higher abstraction Deployment object.

[2019-02-27 11:50] cben commented on #393
# 1. Mutable `Client` or external mutable object holding credentials?

Would a first step of making `Client` mutable, at least for auth_options, be helpful?
No.  Presently you need separate `Client` object per API group, but you want to renew credentials only once.  Having to keep track of each Client and patching them all would negate the gains.

- Conclusion: we want a new object responsible for

[2019-02-27 11:57] cben commented on #393
## 2. Will the current way users call construct `Client` by passing in `auth_options: config.context.auth_options` etc. need to change?

Probably.  We might be able to smuggle an auth object instead of passive data under a new key in auth_options, but not sure I want that.

Anyway, this will be a huge enough win to warrant an API change, I'm not worried about this for now :see_no_evil:

[2019-02-28 22:06] agrare opened #399 "Add the ability to get the cluster version"
The command-line tools allow a user to get the version of the cluster that they are connected to, e.g.:
[code]

The endpoints appear to be `/version` and `/version/openshift`.

I'd like feedback on where best for this code to live, an instance of `Kubeclient::Client` already is scoped to e.g. `/api/v1` so it almost feels like a level above?  Really would like your feedback on this @cben

[2019-03-01 10:15] cben commented on #392
Closing as you implemented this (#394) :tada:
Following up Config-should-not-be-opaque angle in #400 but don't expect to change that until we figure out auth renewal #393...

[2019-03-01 10:15] #392 closed

[2019-03-01 10:34] cben commented on #399
Closing as duplicate of #309.
I think this doesn't deserve a special method of its own (especially with the 2nd `/version/openshift` that's not appropriate to all clusters), but is perfect use case for adding #389.  You'd then do things like:
[code]

[2019-03-01 10:35] #399 closed

[2019-03-03 11:15] cben commented on #398
It should work, you just need client for correct API group.
See https://github.com/abonas/kubeclient/issues/224#issuecomment-277537170 and #343

[2019-03-03 12:51] cben commented on #398
something like:
[code]
If this doesn't help, try doing `RestClient.log = "stderr"` and post the output with that.

Our docs around API groups are bad — people keep asking about this...  PRs to improve the docs would be _very_ welcome.

[2019-03-03 15:20] blijblijblij commented on #398
I get a better understanding now, yes, documentation might be better, but I'll see what I can do once played with this some more and have a better understanding, thx so far @cben

[2019-03-03 21:06] blijblijblij commented on #398
Yes, thx for the clarrification @cben , added namespace and label selection so get some sort of nightshift scaling functionality into the cluster where things might go to 0 for internal services:

[code]

[2019-03-03 21:11] #398 closed

[2019-03-13 10:45] Sadarex commented on #318
Any news on this one? It's still not possible to use a Rancher Kubernetes Cluster with Gitlab.

[2019-03-26 17:24] Stono opened #403 "metadata.resourceVersion: Invalid value: 0x0: must be specified for an update"
Hey,
I'm trying to update a resource, but having no joy.

Here's the object dumped out:
[code]

And I'm simply doing: `@api.update_sidecar(object)`?

Any ideas?

[2019-03-26 17:25] Stono commented on #403
`create_sidecar` works fine by the way

[2019-03-26 17:26] Stono commented on #403
Ahhh,
Ignore me i'm an idiot.

[2019-03-26 17:26] #403 closed

[2019-03-26 19:53] cben commented on #403
I don't see an obvious reason.  Can you explain for future readers?

[2019-03-26 19:58] Stono commented on #403
I was calling `update` with a new resource, rather than taking the resource from a `get` and updating fields.  I was expecting update to do a get/merge but it wasn't.

[2019-03-26 21:05] cben commented on #403
Aha.  Sounds similar to
https://github.com/kubernetes/kubernetes/issues/70674
I thought you can always PST / PUT  without `resourceVersion` but
apparently it depends on kind now :-(

`update_` is PUT, a complete replacement.
If you only want to change some fields, try the `*patch_` methods (without
passing resourceVersion) - theae do atomic merge on server, I expect that'll
always work.

If you do

[2019-04-04 17:41] fadyZohdy opened #405 "delete pod gives Kubeclient::ResourceNotFoundError HTTP status code 404"
kubernetes cluster 1.11.7
kubeclient version 4.3.0
when i try to delete a pod as follows
`kube_client.delete_pod "<pod_name>"`
it gives me this error
`Kubeclient::ResourceNotFoundError (HTTP status code 404, the server could not find the requested resource for DELETE https://api.kube.com/api/v1/pods/<pod_name>)`
i can get pods and nodes just fine with the same client
am i missing something ?
and t

[2019-04-04 19:51] cben commented on #405
Aha, pods are namespaced, so you must specify a namespace.

### Could error message be better?
Currently kubeclient trusts you to know which resources are namespaced and which are global.
It does get `namespaced` bool for each resource in discovery info, so could in theory use that to provide a better message.
Though I think this message is largely coming from the server:
[code]
so it'd be more pr

[2019-04-04 20:00] cben commented on #405
`get_pods` worked for you because it supports both modes: list one namespace, or if not specified list all namespaces.
And `get_nodes` worked simply because nodes are not namespaced.

So here you want:
[code]
(see #312 for cheat-sheet of how to specify namespace to various methods, currently quite inconsistent)

[2019-04-04 20:12] cben commented on #405
Closing but feel free to reopen

[2019-04-04 20:12] #405 closed

[2019-04-05 16:51] mnohai-mdsol commented on #354
I too am receiving this issue when its running ```bundle install``` inside the ```ruby:2.5.3-alpine3.8``` image. I tried forcing bundler to use the latest version, the outcome is the same.

[2019-04-05 19:50] tornglintaffychen commented on #354
Yup, ended up adding `RUN apk add --upgrade build-base ruby-dev --no-cache` to our Dockerfile.
(using `ruby:2.5.5-alpine3.8`)

[2019-04-09 20:58] lucasmazza commented on #210
sorry for bumping an 1 year old issue, but my team stumbled on the same issue as @jeremywadsack with the gcp provider and the [shopify/kubernetes-deploy](https://github.com/Shopify/kubernetes-deploy) commands that use `kubeclient` over invoking `kubectl`.

@cben would still be desirable to support this? I might take a shot on implementing it, taking some notes from [`gcp.go`](https://github.com/ku

[2019-04-09 21:30] jeremywadsack commented on #210
@lucasmazza, see #394 (completed) for a step in that direction, at least when application default credentials are present (e.g. in development). Is the issue you had related to refreshing an expired token? See issues #393 for discussion. #400 add notes about how to manually renew. I would support a PR towards auto-renew (although I'm not a maintainer).

[2019-04-16 21:00] benlangfeld opened #409 "Refreshed OIDC tokens should be persisted to configuration file"
OIDC auth support was added in https://github.com/abonas/kubeclient/pull/396. It includes support for expired ID tokens (expanded in https://github.com/abonas/kubeclient/pull/407 to handle certificate rotation on the authentication server) and refreshes them when fetching a context from configuration.

The [README states](https://github.com/abonas/kubeclient/pull/396/files#diff-04c6e90faac2675aa89

[2019-04-17 05:51] cben commented on #409
Interesting! Is that always true in OIDC?
I'm now using Keycloak (in an non-kubernetes context) which I believe implements OIDC and I think it's refresh token can be reused (?)

[2019-04-17 14:08] benlangfeld commented on #409
I don't think every authorization server implementation includes it, but [the one we're using does](https://github.com/dexidp/dex/commit/f778b2d33be336926be112b9b203c49b914492bf).

[2019-04-22 20:23] cben commented on #409
Ack.
There are several risks (network cut off during renewal => locked out; several processes reading same token from file and all trying to renew & update the file might be messy...).  But there's no alternative.

It does add an important constraint to #393 -- to support renewal without re-creating Client objects, renewal state better be centralized, allowing single renewal object to serve multip

[2019-05-01 08:47] cben commented on #395
I think it'll make sense to extract config & auth parts from kubeclient + https://github.com/kubernetes-client/ruby/ into a new gem and make both projects use it.
They already have `InClusterConfig` class, `Kubernetes.load_incluster_config` helper, and default logic in https://github.com/kubernetes-client/ruby/blob/master/kubernetes/src/kubernetes/loader.rb that tries:
1. `$KUBECONFIG`, if file ex

[2019-05-07 20:46] rhysm commented on #358
[Server Side Apply](https://kubernetes.io/docs/reference/using-api/api-concepts/#server-side-apply
) is now available as Alpha in Kubernetes 1.14.

I haven't had a chance to look at it yet but if you can also specify `application/apply-patch+json` to the `PATCH` endpoint then this is supported already specifying `apply-patch` as the strategy to `patch_entity`.

[2019-05-07 21:05] rhysm opened #412 "Support dryRun for POST, PUT, PATCH, and DELETE"
[Dry Run](https://kubernetes.io/docs/reference/using-api/api-concepts/#dry-run) is now available as beta since Kubernetes v1.13.

This involves adding the `dryRun` query parameter to requests. I'm hesitant to jump in and add support for extra parameters to the various modifier `_entity` methods as I see some discussion around cleaning these up in #312.

I'm thinking #391 with the addition of the `

[2019-05-08 04:05] cben commented on #412
Nice.  Do you know what happens if you send dryRun param to older k8s that doesn't understand it?  Does it error or silently performs a wet run?  Is there a way to detect dry run support?

[2019-05-08 04:14] cben commented on #358
- [ ] This adds a new `metadata.managedFields` field.  Do we need anything special to support metadata fields?
- [ ] This allows a new `fieldManager` param to various operations, required on apply operation

[2019-05-08 08:03] abonas commented on #412
It seems that any feature in alpha/beta can be switched on/off via feature gates (aka feature flags)
https://kubernetes.io/docs/reference/command-line-tools-reference/feature-gates/
So you might run into a situation with older versions which lack support, but also even on a version where dryRun is present, but is disabled.
AFAIK there's no way to query upfront on the list and status of feature gat

[2019-05-08 23:46] rhysm commented on #412
@cben I don't have access to an older cluster right now. I have a branch https://github.com/rhysm/kubeclient/tree/dryRun which I've been using for testing if someone has one readily available. Otherwise I can get one running in the next few days and give it a try.

@abonas I don't know any way of determining via the API if feature gates are enabled.

I think we would have to document the option cl

[2019-05-09 18:45] joshbranham commented on #409
This is of interest to me as well. Looking to create some `kubectl` plugins using this library, and we utilize OIDC authentication. If I am not mistaken, if a user runs `kubectl <my-plugin>` which utilizes this library, and it refreshes the token, then if they go to use `kubectl get pods` say an hour+ later, `kubectl` will be unable to refresh the token?

[2019-05-10 09:35] cben commented on #397
See also #404, included in last release.
I don't know much about EKS, but if anything is worth clarifying in the README please send a PR.

[2019-06-24 12:00] cben opened #415 "Could stack traces identify specific resource accessed?"
I'm looking at app logs that perform many `get_*` calls, one of them failing, but I can't tell which, neither from kubeclient stack portion, nor the calling app:
[code]

This is an unfortunate interaction between the app (manageiq) doing `client.send("get_#{entity[:name]}")` in a loop:
https://github.com/ManageIQ/manageiq-providers-kubernetes/blob/bf6594110f8716f128a387e5a0817e89645d248e/app/model

[2019-07-02 08:34] cben commented on #354
Nice.  I'm closing as this sounds like simply matter of using ruby alpine image correctly.
Please reopen if you think kubeclient can do something to improve this.

[2019-07-02 08:34] #354 closed

[2019-07-09 04:26] GKTheOne commented on #170
n/a

[2019-07-09 04:26] #170 closed

[2019-07-09 08:53] cben opened #416 "Access sub-resources"
Kubernetes APIs include many sub-resources.
Currently Kubeclient [ignores all of those](https://github.com/abonas/kubeclient/blob/v4.4.0/lib/kubeclient/common.rb#L546) in discovery and surprisingly we haven't seen much complaints.

This is a pre-emptive issue to collect whether there are any use cases for _generic_ discovery support?

The actual API of sub-resources varies widely, and you can't kn

[2019-07-09 09:22] cben opened #417 "Expose url, headers, auth options for handoff to other HTTP clients?"
This would be a second "escape hatch" beyond #389, for cases when one needs to connect to particular API over another gem / language / out of process.

Turns out it's now hard to grab url / http headers / TLS auth out of a `Kubeclient::Client` objects, using public interface :disappointed:.

Can we make that easier?
_Should_ we, or should one instead directly ask `Config` objects?

### Motivation

[2019-07-09 09:34] cben commented on #416
cc @shiramax.  I believe your kubevirt VNC use case won't be helped by any _generic_ sub-resource functionality, which this issue is about; but #417 (params to do your own connection) is more relevant for you.

[2019-08-07 05:00] cben commented on #393
Kubernetes plans to change service account tokens to short-lived: https://github.com/kubernetes/kubernetes/issues/70679
This even simple in-cluster config will require on-the fly auth updates.

[2019-08-07 05:00] cben commented on #395
Kubernetes plans to change service account tokens to short-lived: https://github.com/kubernetes/kubernetes/issues/70679
This even simple in-cluster config will require on-the fly auth updates (#393)

[2019-08-14 07:52] YouRNotPaulChan opened #418 "Request K8s API, But it return bad-request (400)"
versions
[code]

My code:

[code]

The contents of `config.kubeconfig`:

[code]

The contents of `nginx.yaml`:

[code]

The error I'm getting is this, and I think it maybe the `apiVersion` is wrong:

[code]

[2019-08-16 06:59] cben commented on #418
Off the top of my head: Rancher puts API at a sub-path (`server: "https://MY_HOST/k8s/clusters/c-h4mdn"`), which kubeclient has a silly long-standing problem with: https://github.com/abonas/kubeclient/issues/318
but the error you give sounds different, let me look deeper...

[2019-08-16 07:10] cben commented on #418
BTW, for `send("create_#{@kind}", ...)` you might want to follow #332, we'll simplify this one day.  But for now you wrote it correctly.

[2019-08-16 14:58] cben commented on #418
Obligatory warning about `SSL::VERIFY_NONE`: if you're using bearer token for authentication, a MITM attacker can just steal the token and get all your permissions on the cluster :worried:
It's less catastrophic if you use client certs for authentication, though still unsafe.

[2019-08-16 15:55] cben commented on #418
@YouRNotPaulChan can you post output of `require "pp"; pp client`?  I want to see its instance var to confirm whether you're hitting #318 .

[2019-08-16 16:08] YouRNotPaulChan commented on #418
Thank you for your reply, but the situation I encountered only happened in the POST method, and everything was normal when using the GET method

[2019-08-16 16:16] YouRNotPaulChan commented on #418
Thanks again, I am on vacation now, but that Kubernetes is deployed in my company's Intranet, I will post the instance variable of client next Monday：）

[2019-08-19 00:57] YouRNotPaulChan commented on #418
@cben This is the output with `pp client`
[code]

[2019-09-02 08:43] yunlong920 commented on #418
Have you solved this problem?I have the same question with you.

[2019-09-05 09:31] Go-Macyun commented on #418
I have the same question and when I DELETE a entity , I got the Uncaught exception: HTTP status code 404, the server could not find the requested resource for DELETE https://{my_host}/k8s/clusters/c-h4mdn/api/v1/pods/nginx-test.WHY? Here is my code:

deleted = client.delete_pod("nginx-test")

[2019-09-08 11:03] cben commented on #418
[Sorry for silence, frantic time at work and home...  BTW, I'd be happy to add more maintainers to kubeclient if anyone is interested.]

`@api_group="clusters/"` is wrongly inferred from the path, this does sound like #318.
This doesn't currently matter much, except it affects apiVersion kubeclient sends to server, so it makes sense GET works and POST fails.
Can you try with https://github.com/abo

[2019-09-09 15:59] grosser opened #419 "Document if kubeclient / restclient is threadsafe or not"
Would be nice to have a "Not threadsafe, use one kubeclient per Thread" or the opposite in the docs somewhere.

[2019-09-09 16:34] cben commented on #419
I suspect it is but don't know for sure.
- is rest-client thread-safe?
- is http gem thread-safe?
- I think the only Client mutation during use is lazy discovery.  Is it safe?
- is Config thread-safe?

[2019-09-09 16:42] grosser commented on #419
yeah, client mutation is not threadsafe, I already run into that one :D

[2019-09-20 03:04] Go-Macyun commented on #418
Thanks for your reply! I have tried many times and found that api 'https://{my_host}/k8s/clusters/c-h4mdn/api' can only GET method not POST ,PUT and DELETE methods.After I change my api into "https://MY_HOST:6443" ,everything be OK.But I don't konw why ,maybe which is related to configuration inside k8s.

[2019-10-03 13:29] cben commented on #418
@Go-Macyun  No, it's not k8s's fault, it's kubeclient's — it's quite clearly #318.
kubeclient has a bug that it doesn't work with URL structure not rooted at the domain root :frowning_face:
We really should get it fixed.  Unfortunately it seems the discussion there has been too long so it became scary so nobody contributed a fix waiting for and I haven't found the time.

Can you try my branch from

[2019-11-27 18:45] mastamark opened #424 "AmazonEksCredentials sometimes generates a base64 encoding that IAM auth rejects"
Sometimes a base64 encoding of the presigned url has 1 equals signs as padding, and current logic (`.chomp('==')`) does not handle that case.

(The IAM auth of the eks cluster then spits out a message about an invalid base64 encoding)

PR https://github.com/abonas/kubeclient/pull/423 will remove either 1 or 2 equals signs using `.sub(/=(.*)?/,'')`.

[2019-12-01 21:13] cben commented on #424
Closed by #423

[2019-12-01 21:13] #424 closed

[2019-12-15 13:28] #351 closed

[2019-12-15 13:57] cben commented on #342
Hmm, it seems the "intended" way to do it now is `client.watch_nodes(name: 'foo')`.
It's not documented in README though!
And it's quite surprising for one method to do singular/plural double duty...

See #312 for overview of our current APIs wrt. `name` and `namespace` :face_with_head_bandage:

We have #332 sketching a better replacement for `*_entity, *_entities` methods, which are not currently

[2019-12-15 22:55] cben commented on #342
I meant I'm not opposed :)

[2019-12-16 10:28] cben commented on #419
I think we *want* it to become thread-safe.  That's the only sane contract for a high-level library...

Do you know details on problems you saw?
Should discovery take a mutex, or would that risk one slow request blocking everything?
Should we let multiple parallel discovery requests to "race", but make sure the results are "committed atomically"? (I'd rather not, premature buggization...)

[2019-12-16 10:35] cben commented on #416
#422 wants to patch `foo/status`, and I think we should instead allow all verbs on `foo/status`.

[2019-12-20 03:23] grosser commented on #419
having an instance-mutex around discoveries should be cheap and make it threadsafe
alternative would be to initialize it with 'threadsafe: true' and then just eager-discover